{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="text-center sights__title">{{ title }}</h1>
<div class="container">
    <div class="content mt-5">
        <div id="carouselExampleIndicators" class="carousel slide mb-5 slider__show-sight" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ title_image }}" class="d-block w-100" alt="title-image">
                </div>
                {% for i in img %}
                    <div class="carousel-item">
                        <img src="{{ i.image.url }}" class="d-block w-100" alt="image">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div class="sights__fast-info">
            <p class="text title">Краткая информация</p>
            <!-- <p class="text">Адрес: <a href="https://yandex.ru/maps/?text=Тобольск, {{ address }}" target="_blank" class="url__sights">{{ address }}</a></p> -->
            <div class="btn__in-sights-wrap">
                {% if site %}
                <div class="btn__in-sights">
                    <a href="http://{{ site }}" target="_blank">Перейти на сайт</a>
                </div>
                {% else %}
                {% endif %}
                <div class="btn__in-sights">
                    <a href="https://yandex.ru/maps/?text=Тобольск, {{ address }}" target="_blank" class="url__sights">Показать на карте</a>
                </div>
                {% if recomended %}
                <div class="btn__in-sights rec">Рекомендовано нами!</div>
                {% endif %}
            </div>
            <p class="text">Телефон:
                {% for number in number %}
                    {% if number %}
                    <a href="tel:{{ number }}" class='url__sights'>{{ number }}</a> |
                    {% else %}
                    отсутствует
                    {% endif %}
                {% endfor %}
            </p>
        </div>
        <p class="text">
            {{ full_text|linebreaksbr }}
        </p>
    </div>
</div>
{% endblock %}
