{% extends 'main/layout.html' %}
{% load thumbnail %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="content">
            <h1 class="text-center page-title w-100">{{ title }}</h1>
            <div class="filter__block d-flex justify-content-center">
                <div class="filter__menu d-flex justify-content-center align-items-center">
                    <div class="filter__wrap">
                        <a href="{% url 'sights' %}" class="filter__item">Все</a>
                        {% for i in category_list %}
                            <a href="{% url 'sights' %}?category={{ i.slug }}" class="filter__item">{{ i }}</a>
                        {% endfor %}
                    </div>
                    <div class="filter__btn-in-menu">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="filter__btn"><i class="fas fa-sliders-h"></i></div>
            </div>
            <div class="chosen_category" data-categoryid="{{ chosen_category.id }}">
                {{ chosen_category }}
                <a href="{% url 'sights' %}" class="btn__close-category">
                    <i class="fas fa-times"></i>
                </a>
            </div>

            <div class="row justify-content-center m-0 allsights">
            {% for i in sights_list %}
                {% if forloop.last %}
                <div class="col-12 col-md-4 sights last-sight" data-sightid="{{ i.pk }}">
                {% else %}
                <div class="col-12 col-md-4 sights">
                {% endif %}
                    <a href="{% url 'show_sights' slug=i.slug %}">
                        <div class="card mt-5">
                            {% thumbnail i.image_preview "300" as thumb %}
                            <img src="{{ thumb.url }}" class="card-img-top round">
                            {% endthumbnail %}
                            <div class="card-title position-absolute">
                                <div class="row align-items-center">
                                    <div class="col-12 col-xl-7">{{ i.title }}</div>
                                    <div class="col-12 col-xl-5">
                                        <div class="col-12 fw-bold card-category">{{ i.category }}</div>
                                    </div>                                    
                                </div>
                            </div>
                            <a href="https://yandex.ru/maps/?text=Тобольск, {{ i.address }}" target="_blank">
                                <div class="position-absolute sights__gps-mark d-flex d-flex justify-content-center align-items-center">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                            </a>
                        </div>
                    </a>
                </div>
                {% endfor %}
                </div>
            </div>
        {% if show_history %}
        <div class="container">
            <div class="row justify-content-center mt-5 read-history-block mt-3">
                <div class="col-12">
                    <h5 class="text-center">Впервые в городе? Узнайте его историю!</h5>
                </div>
                <div class="col-xl-4 col-md-6 col-12 mt-3">
                    <div class="btn-cus-1 btn-show-history">
                        <a href="{% url 'history' %}">Читать историю города</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12 mt-3">
                    <div class="btn-cus-1 btn-no-show-history">
                        Спасибо, нет
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if sights_list.count >= 9 %}
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-4">
                <div class="btn-cus-1 btn__show-more-sights cur-pointer" btn-url="{% url 'load-more-sights' %}">Показать ещё</div>
                <p class="no-more text-center"></p>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}
