{% extends 'main/layout.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<section>
	<div class="container">
		<div class="content mt-6">
			<h1 class="text-center page-title w-100">О нас</h1>
			<div class="row my-5 about-text-block align-items-center">
				<div class="col-12 col-md-6">
					<p class="text fw-bold">
						LiveTob - новый туристический портал о Тобольске! <br><br>
						Ежедневно мы собираем самые интересные события города в одном месте.
						Для нас важен каждый турист, поэтому мы стараемся предоставить ему максимально полную информацию о достопримечательностях, 
						гостиницах, кафе, музеях, спортивных и культурных мероприятиях.
					</p>
				</div>
				<div class="col-12 col-md-6">
					{% thumbnail 'about/aboutimg1.png' '600' format='WEBP' as thumb %}
					<img src="{{ thumb.url }}" alt="" srcset="" class="about-img">
					{% endthumbnail %}
				</div>
			</div>
			<div class="row my-5 about-text-block align-items-center">
				<div class="col-12 col-md-6">
					{% thumbnail 'about/aboutimg2.png' '600' format='WEBP' as thumb %}
					<img src="{{ thumb.url }}" alt="" srcset="" class="about-img about-img-no-margin-top">
					{% endthumbnail %}
				</div>
				<div class="col-12 col-md-6">
					<p class="text fw-bold">
						LiveTob – это возможность узнать больше о нашем городе, 
						а также всегда быть в курсе актуальных мероприятий, которые будут проходить в Тобольске или в окрестностях города.
					</p>
				</div>
			</div>
			<div class="row my-5 about-text-block align-items-center">
				<div class="col-12 col-md-6">
					<p class="text fw-bold">
						Наша сила — в Команде. Небольшой, но талантливой команде.<br><br>
						Мы ставим и решаем амбициозные задачи. Всегда требовательны к себе: результатом нашей работы пользуются люди — и мы сами.<br><br>
						Каждый день перед нами встают новые вызовы — и нам это нравится, потому что так мы быстрее растём.
					</p>
				</div>
				<div class="col-12 col-md-6">
					{% thumbnail 'about/aboutimg3.png' '600' format='WEBP' as thumb %}
					<img src="{{ thumb.url }}" alt="" srcset="" class="about-img">
					{% endthumbnail %}
				</div>
			</div>
			<div class="row my-5 about-text-block align-items-center">
				<div class="col-12 col-md-6">
					<p class="text fw-bold">
						Создано при поддержке<br><br>
						IT-Будущее<br><br>
						IT школа экспертов г.Тобольск<br><br>
						Автономная некоммерческая организация "Развитие"<br><br>
						СИБУР Формула Хороших Дел<br><br>
					</p>
				</div>
				<div class="col-12 col-md-6 d-flex flex-column align-items-center">
					{% thumbnail 'about/FKhD.png' '300' format='WEBP' as thumb %}
					<img src="{{ thumb.url }}" alt="" srcset="" class="about-img" width="300px">
					{% endthumbnail %}
					{% thumbnail 'about/logo_razvitie.png' '300' format='WEBP' as thumb %}
					<img src="{{ thumb.url }}" alt="" srcset="" class="about-img" width="300px">
					{% endthumbnail %}
					{% thumbnail 'about/logo_shkola.png' '300' format='WEBP' as thumb %}
					<img src="{{ thumb.url }}" alt="" srcset="" class="about-img" width="300px">
					{% endthumbnail %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
