{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section>
	<div class="container">
		<div class="content mt-6">
			<h1 class="text-center page-title w-100">О нас</h1>
			<div class="row my-5 about-text-block p-5">
				<div class="col-12 col-xl-6">
					<p class="fs-4 text fw-bold">
						LiveTob - новый туристический портал о Тобольске! <br><br>
						Ежедневно мы собираем самые интересные события города в одном месте.
						Для нас важен каждый турист, поэтому мы стараемся предоставить ему максимально полную информацию о достопримечательностях, 
						гостиницах, кафе, музеях, спортивных и культурных мероприятиях.
					</p>
				</div>
				<div class="col-12 col-xl-6 about-img-1"></div>
			</div>
			<div class="row my-5 about-text-block p-5">
				<div class="col-12 col-xl-6 about-img-2"></div>
				<div class="col-12 col-xl-6">
					<p class="fs-4 text fw-bold">
						LiveTob – это возможность узнать больше о нашем городе, 
						а также всегда быть в курсе актуальных мероприятий, которые будут проходить в Тобольске или в окрестностях города.
					</p>
				</div>
			</div>
			<div class="row my-5 about-text-block p-5">
				<div class="col-12 col-xl-6">
					<p class="fs-4 text fw-bold">
						Наша сила — в Команде. Небольшой, но талантливой команде.<br><br>
						Мы ставим и решаем амбициозные задачи. Всегда требовательны к себе: результатом нашей работы пользуются люди — и мы сами.<br><br>
						Каждый день перед нами встают новые вызовы — и нам это нравится, потому что так мы быстрее растём.
					</p>
				</div>
				<div class="col-12 col-xl-6 about-img-3"></div>
			</div>
			<!-- <div class="row justify-content-center"> -->
				<!-- <div class="col-12 col-xl-4">
					<h3 class="text-center mt-5">цель</h3>
					<p class="text-center text mt-3 about-text-block d-flex align-items-center">
						Развитие туризма в Тобольске и приобщение местных жителей к его истории и культуре.
					</p>	
				</div>
				<div class="col-12 col-xl-4">
					<h3 class="text-center mt-5">работа</h3>
					<p class="text-center text mt-3 about-text-block d-flex align-items-center">
						Помочь туристам и жителям города узнать новую информацию о его исторически и культурно значимых местах, показать туристам и жителям города, где и как можно провести свой досуг.
					</p>	
				</div> -->
				<!-- <div class="col-12">
					<h3 class="text-center mt-5">анонс</h3>
					<p class="text-center text mt-3">Возможно появление новых разделов, как "афиша" — анонс мероприятий в городе и "новости" — главные события города.</p>
					<p class="text-center text mt-3 about-text-block d-flex align-items-center">
						В разделе "афиша" пользователи смогут анонсировать свои мероприятия.<br><br>
						Появится возможность ставить оценку всем местам из раздела "Куда сходить" и дополнять оценку комментарием.<br><br>
						Обновление API<br><br>
					</p>
				</div> -->
			<!-- </div> -->
		</div>
	</div>
</section>
{% endblock %}
