{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section>
	<div class="container">
		<div class="content mt-6">
			<h1 class="text-center page-title w-100">{{ title }}</h1>
			<div class="row d-flex justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="dev-block justify-content-center flex-column text-center">
                        <h5>Используйте возможности API LiveTob</h5><br>
                        <p class="text">
                            LiveTob для веб-сайтов - это набор инструментов предоставляющих контент LiveTob вашим веб-страницам.<br><br>
                            К сожалению, на данный момент API LiveTob можно использовать только на веб-сайтах. Мы делаем всё возможное, чтобы ресурсы LiveTob были доступны на всех платформах. 
                        </p>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
