{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="content hist-wrap">
            <h1 class="text-center page-title w-100">{{ title }}</h1>
            <p class="text mt-5">
                В 1573 г. посланный сибирским ханом Кучумом в разведывательный поход военный отряд вступил в столкновения с людьми купцов Строгановых. Купцы были вынуждены усилить охрану своих городков и деревень. Для этого они наняли вольных казаков во главе с атаманом Ермаком.<br><br>
                Осенью 1582 года на правом берегу реки Иртыш произошла знаменитая битва на Чувашском мысу, в которой отряд Ермака разгромил войско Кучума, открыв дорогу в Сибирь.<br><br></p>
                <div class="hist-img-wrap img-open" data-bs-toggle="modal" data-bs-target="#exampleModalHist1">
                    <img src="../../static/main/img/hist1.png" class="hist-img">
                </div>
                <div class="modal fade" id="exampleModalHist1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                      <div class="modal-content">
                        <div class="modal-header justify-content-center">
                          <h5 class="modal-title" id="exampleModalLabel">История Тобольска</h5>
                        </div>
                        <div class="modal-body d-flex justify-content-center">
                          <img src="../../static/main/img/hist1.png" alt="">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                          <div class="btn-cus-1 btn-close-modal" data-bs-dismiss="modal">Закрыть</div>
                        </div>
                      </div>
                    </div>
                </div>
                <br>
            <p class="text">
                В 1587 году по указу царя Федора Иоанновича стрельцы и служилые казаки под командованием воеводы Данилы Чулкова заложили на высоком берегу Иртыша город Тобольск.
                Спустя три года после этого, в 1590 году он получил статус города.<br><br>

                Изначально этот город был фактическим центром всей Сибири. Вскоре его даже стали называть столицей этой части страны. В 1708 году такое звание было закреплено официально. Тобольск был объявлен административным центром Сибирской губернии, которая на тот момент была самой большой в стране.<br><br>

                Петр I был весьма заинтересован в развитии Сибири, поэтому оказывал городу всяческое покровительство, что сыграло важную роль в истории Тобольска. Глава государства стремился придать ему представительную внешность, для чего приказал построить Гостиный двор и Приказную палату.<br><br>
                <div class="hist-img-wrap img-open" data-bs-toggle="modal" data-bs-target="#exampleModalHist2">
                    <img src="../../static/main/img/hist2.png" class="hist-img">
                </div>
                <div class="modal fade" id="exampleModalHist2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                      <div class="modal-content">
                        <div class="modal-header justify-content-center">
                          <h5 class="modal-title" id="exampleModalLabel">История Тобольска</h5>
                        </div>
                        <div class="modal-body d-flex justify-content-center">
                          <img src="../../static/main/img/hist2.png" alt="">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                          <div class="btn-cus-1 btn-close-modal" data-bs-dismiss="modal">Закрыть</div>
                        </div>
                      </div>
                    </div>
                </div>
                <br>
            </p>
            <p class="text">
                В 1711 в город прибыл первый губернатор Сибири князь Гагарин. При нем активно стало развиваться строительство. В окрестностях и в самом Тобольске стали появляться крупные по тем временам предприятия – стекольная и писчебумажная мануфактуры, Казенный завод, свечной, кожевенный и салотопенный заводы. Появился даже собственный оружейный завод.<br><br>

                Самую большую славу и богатство принёс Тобольску XVIII век. С развитием горной промышленности через Тобольск в Москву на монетный двор стали поставлять золото и серебро. 
                Через город проходил Сибирский тракт, придававший Тобольску значение торгового центра.<br><br>
                <div class="hist-img-wrap img-open" data-bs-toggle="modal" data-bs-target="#exampleModalHist3">
                    <img src="../../static/main/img/hist3.png" class="hist-img">
                </div>
                <div class="modal fade" id="exampleModalHist3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                      <div class="modal-content">
                        <div class="modal-header justify-content-center">
                          <h5 class="modal-title" id="exampleModalLabel">История Тобольска</h5>
                        </div>
                        <div class="modal-body d-flex justify-content-center">
                          <img src="../../static/main/img/hist3.png" alt="">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                          <div class="btn-cus-1 btn-close-modal" data-bs-dismiss="modal">Закрыть</div>
                        </div>
                      </div>
                    </div>
                </div>
                <br>
            </p>
            <p class="text">
                Помимо выполнения важных административных функций, Тобольск внёс огромный вклад в развитие отечественной культуры.<br><br>

                Известия о первых театральных постановках в городе датируются 1705 годом, когда Пётр I только намеревался восстановить театр в столице. А построенное в 1899 году здание Тобольского драмтеатра считалось даже архитектурным шедевром как единственное деревянное здание театра в СССР. Но до нашего времени оно не сохранилось, сгорев в 1990 году.<br><br>
                <div class="hist-img-wrap img-open" data-bs-toggle="modal" data-bs-target="#exampleModalHist4">
                    <img src="../../static/main/img/hist4.png" class="hist-img">
                </div>
                <div class="modal fade" id="exampleModalHist4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                      <div class="modal-content">
                        <div class="modal-header justify-content-center">
                          <h5 class="modal-title" id="exampleModalLabel">История Тобольска</h5>
                        </div>
                        <div class="modal-body d-flex justify-content-center">
                          <img src="../../static/main/img/hist4.png" alt="">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                          <div class="btn-cus-1 btn-close-modal" data-bs-dismiss="modal">Закрыть</div>
                        </div>
                      </div>
                    </div>
                </div>
                <br>
            </p>
            <p class="text">
                В 1789 году в Тобольске появился один из первых в провинции и первый в Сибири литературный журнал — «Иртыш, превращающийся в Иппокрену».<br><br>

                Преобразованная из главного народного училища в 1810 году Тобольская мужская гимназия стала первой в Сибири.<br><br>
                <div class="hist-img-wrap img-open" data-bs-toggle="modal" data-bs-target="#exampleModalHist5">
                    <img src="../../static/main/img/hist5.png" class="hist-img">
                </div>
                <div class="modal fade" id="exampleModalHist5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                      <div class="modal-content">
                        <div class="modal-header justify-content-center">
                          <h5 class="modal-title" id="exampleModalLabel">История Тобольска</h5>
                        </div>
                        <div class="modal-body d-flex justify-content-center">
                          <img src="../../static/main/img/hist5.png" alt="">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                          <div class="btn-cus-1 btn-close-modal" data-bs-dismiss="modal">Закрыть</div>
                        </div>
                      </div>
                    </div>
                </div>
                <br>
            </p>
            <p class="text">
                Здесь в первой трети XVII века началось сибирское летописание.<br><br>

                В то же время в Тобольске жил и творил выдающийся деятель русской культуры, картограф, архитектор и историк С.У. Ремезов — автор "Чертёжной книги Сибири". С именем Ремезова связано строительство единственного каменного кремля в Сибири.<br><br>
                <div class="hist-img-wrap img-open" data-bs-toggle="modal" data-bs-target="#exampleModalHist6">
                    <img src="../../static/main/img/hist6.png" class="hist-img">
                </div>
                <div class="modal fade" id="exampleModalHist6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                      <div class="modal-content">
                        <div class="modal-header justify-content-center">
                          <h5 class="modal-title" id="exampleModalLabel">История Тобольска</h5>
                        </div>
                        <div class="modal-body d-flex justify-content-center">
                          <img src="../../static/main/img/hist6.png" alt="">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                          <div class="btn-cus-1 btn-close-modal" data-bs-dismiss="modal">Закрыть</div>
                        </div>
                      </div>
                    </div>
                </div>
                <br>
            </p>
            <p class="text">
                Были и ещё известные тоболяки. В 1787 году в Тобольске родился и жил композитор А.А. Алябьев. Здесь родились декабрист-сибиряк Г.С. Батеньков и великий ученый-химик Д.И. Менделеев. В Тобольской гимназии учился и преподавал автор знаменитой сказки "Конёк-горбунок" П.П. Ершов.<br><br>
                <div class="hist-img-wrap img-open" data-bs-toggle="modal" data-bs-target="#exampleModalHist7">
                    <img src="../../static/main/img/hist7.png" class="hist-img"><br>
                </div>
                <div class="modal fade" id="exampleModalHist7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                      <div class="modal-content">
                        <div class="modal-header justify-content-center">
                          <h5 class="modal-title" id="exampleModalLabel">История Тобольска</h5>
                        </div>
                        <div class="modal-body d-flex justify-content-center">
                          <img src="../../static/main/img/hist7.png" alt="">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                          <div class="btn-cus-1 btn-close-modal" data-bs-dismiss="modal">Закрыть</div>
                        </div>
                      </div>
                    </div>
                </div>
                <br>   
            </p>
            <p class="text">
                Путями опалы и изгнания проходили здесь представители русской знати, участники дворцовых переворотов: А.Д. Меньшиков, князья Долгорукие, канцлер А.Остерман, фельдмаршал Бирон, Миних.<br><br>

                В Тобольске отбывали ссылку 15 декабристов, семеро из которых покоятся на Завальном кладбище. Там же похоронены жена А.Н.Радищева, отец Д.И.Менделеева, украинский поэт-революционер П.А.Грабовский, поэт Давыдов и А.А. Дунин-Горкавич — исследователь Сибири, действительный член императорского русского географического общества.<br><br>
                <div class="hist-img-wrap img-open" data-bs-toggle="modal" data-bs-target="#exampleModalHist8">
                    <img src="../../static/main/img/hist8.png" class="hist-img">
                </div>
                <div class="modal fade" id="exampleModalHist8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                      <div class="modal-content">
                        <div class="modal-header justify-content-center">
                          <h5 class="modal-title" id="exampleModalLabel">История Тобольска</h5>
                        </div>
                        <div class="modal-body d-flex justify-content-center">
                          <img src="../../static/main/img/hist8.png" alt="">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                          <div class="btn-cus-1 btn-close-modal" data-bs-dismiss="modal">Закрыть</div>
                        </div>
                      </div>
                    </div>
                </div>
                <br>
            </p>
            <p class="text">
                По пути в ссылку в городе останавливались А.Н. Радищев, Ф.М. Достоевский, Н.Г. Чернышевский и В.Г. Короленко.<br><br>

                6 августа 1917 года в 6 часов по полудни Тобольск встречал колокольным звоном пароход, на котором прибыли в ссылку отрекшийся от престола последний Российский император Николай II и его семья. Ссыльных царственных особ поселили в губернаторском доме, расположенном недалеко от пристани. В апреле 1918 года Романовых перевезли в Екатеринбург. И Тобольск вошел в историю как «город, не убивший царя».<br><br>
                <div class="hist-img-wrap img-open" data-bs-toggle="modal" data-bs-target="#exampleModalHist9">
                    <img src="../../static/main/img/hist9.png" class="hist-img">
                </div>
                <div class="modal fade" id="exampleModalHist9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                      <div class="modal-content">
                        <div class="modal-header justify-content-center">
                          <h5 class="modal-title" id="exampleModalLabel">История Тобольска</h5>
                        </div>
                        <div class="modal-body d-flex justify-content-center">
                          <img src="../../static/main/img/hist9.png" alt="">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                          <div class="btn-cus-1 btn-close-modal" data-bs-dismiss="modal">Закрыть</div>
                        </div>
                      </div>
                    </div>
                </div>
                <br>
            </p>
            <p class="text">
                В начале XX века город постепенно утрачивает свою административную значимость. Однако, в 1994 году решением Святейшего Синода Тобольск наряду с Москвой и Санкт-Петербургом провозглашен духовным центром России.
                Сегодня Тобольск - центр познавательного туризма и газохимической промышленности.
            </p>
        </div>
    </div>
</section>
{% endblock %}