{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="home-page-screen main-home-page-screen">
    <h1 class="home-page-title text-center first-title">Добро пожаловать в Тобольск</h1><br>
</div>
<div class="home-page-screen-2 main-home-city-history" id="home-page-screen-city-history">
    <div class="container">
        <h1 class="home-page-title pt-5 pb-5 text-center">История города</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-xl-4"> 
                <a href="{% url 'history' %}">
                    <div class="btn-cus-1">Читать</div>
                </a>
            </div>
        </div>
        <h1 class="home-page-title pt-5 pb-5 text-center">Тобольск в искусстве</h1>
        <!-- блок искусства на пк -->
        <div class="row spoiler-pc">
            <div class="col-12 col-xl-4">
                <p class="text-center fw-bold fs-5 home-page-title-screen-city-history">Литература</p><br>
                <ul class="list-home-page">
                    <li class="list-item-home-page"><span>В городе разворачиваются события поэмы «Встреча в Тобольске» С. Д. Давыдова.</span></li>
                    <li class="list-item-home-page"><span>В городе происходит действие ряда поэм Л. Н. Мартынова — «Тобольский летописец» (1937) и др.</span></li>
                    <li class="list-item-home-page"><span>Пленение в Тобольске царевича Ураз-Мухаммеда и Кадыр Али-бека отражено в романе «Вешние снега» (1990) казахского писателя Мухтара Магауина.</span></li>
                    <li class="list-item-home-page"><span>Герой романа Брэма Стокера «Дракула» Квинси Моррис вспоминает о том, как его вместе с Артуром Холмвудом преследовала стая волков под Тобольском.</span></li>
                    <li class="list-item-home-page"><span>В продолжении знаменитого «Робинзона Крузо» Даниэля Дефо герой путешествует по России и 8 месяцев проводит именно в этом городе, пережидая суровые морозы.</span></li>
                </ul>
            </div>
            <div class="col-12 col-xl-4">
                <p class="text-center fw-bold fs-5 home-page-title-screen-city-history">Кинематограф</p><br>
                <ul class="list-home-page">
                    <li class="list-item-home-page"><span>В кинокомедии 60-х годов «Большие гонки» главные герои посещают Тобольск, где их встречают люди с факелами, а вокруг царит полярная ночь, которой тут на самом деле не бывает.</span></li>
                    <li class="list-item-home-page"><span>В Тобольске происходит действие фильма «Мраморный дом» режиссёра Бориса Григорьева.</span></li>
                    <li class="list-item-home-page"><span>В Тобольске снимался фильм Алексея Балабанова «Война», где состоялся дебют в кино Алексея Чадова и сыграл одну из своих последних ролей Сергей Бодров-мл.</span></li>
                    <li class="list-item-home-page"><span>В Тобольске снимались фильмы: «Срочно… Секретно… Губчека» (1982г.), «Тайна Золотой горы» (1985 г.), «Золотая баба» (1987г.).</span></li>
                    <li class="list-item-home-page"><span>В Тобольске снимался фильм «Я обещала, я уйду…» (режиссёр Валерий Ахадов), где в главной роли снялась Елена Корикова.</span></li>
                    <li class="list-item-home-page"><span>«Тобол» (2019г.) – российская историческая драма режиссера Игоря Зайцева. В картине снялись Илья Маланин, Дмитрий Дюжев, Евгений Дятлов, Дмитрий Назаров, Агата Муцениеце, Андрей Бурковский и другие.</span></li>
                    <li class="list-item-home-page"><span>В 2008 году вышел фильм Константина Одегова «Наследники», частично снятый в Тобольске.</span></li>
                </ul>
            </div>
            <div class="col-12 col-xl-4">
                <p class="text-center fw-bold fs-5 home-page-title-screen-city-history">Музыка</p><br>
                <ul class="list-home-page">
                    <li class="list-item-home-page"><span>Городу и походу 2-й Тихоокеанской эскадры во время войны с Японией в 1904 году посвящена песня Олега Митяева «Чужая война».</span></li>
                    <li class="list-item-home-page"><span>Тобольск, как место ссылки семьи Николая Второго, упоминается в песне Максима Трошина «Всё теперь против нас».</span></li>
                    <li class="list-item-home-page"><span>Городу посвящена «Тобольская симфония» (1971) новосибирского композитора А. Ф. Мурова.</span></li>
                </ul>
            </div>
        </div>
        <!-- блок искусства на телфонах -->
        <div class="row spoiler-mob">
            <div class="col-12">
                <div class="spoiler-wrap">
                    <div class="spoiler-head">
                        <h6>Литература</h6>
                    </div>
                    <div class="spoiler-body">
                        <ul class="list-home-page">
                            <li class="list-item-home-page"><span>В городе разворачиваются события поэмы «Встреча в Тобольске» С. Д. Давыдова.</span></li>
                            <li class="list-item-home-page"><span>В городе происходит действие ряда поэм Л. Н. Мартынова — «Тобольский летописец» (1937) и др.</span></li>
                            <li class="list-item-home-page"><span>Пленение в Тобольске царевича Ураз-Мухаммеда и Кадыр Али-бека отражено в романе «Вешние снега» (1990) казахского писателя Мухтара Магауина.</span></li>
                            <li class="list-item-home-page"><span>Герой романа Брэма Стокера «Дракула» Квинси Моррис вспоминает о том, как его вместе с Артуром Холмвудом преследовала стая волков под Тобольском.</span></li>
                            <li class="list-item-home-page"><span>В продолжении знаменитого «Робинзона Крузо» Даниэля Дефо герой путешествует по России и 8 месяцев проводит именно в этом городе, пережидая суровые морозы.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="spoiler-wrap">
                    <div class="spoiler-head">
                        <h6>Кинематограф</h6>
                    </div>
                    <div class="spoiler-body">
                        <ul class="list-home-page">
                            <li class="list-item-home-page"><span>В кинокомедии 60-х годов «Большие гонки» главные герои посещают Тобольск, где их встречают люди с факелами, а вокруг царит полярная ночь, которой тут на самом деле не бывает.</span></li>
                            <li class="list-item-home-page"><span>В Тобольске происходит действие фильма «Мраморный дом» режиссёра Бориса Григорьева.</span></li>
                            <li class="list-item-home-page"><span>В Тобольске снимался фильм Алексея Балабанова «Война», где состоялся дебют в кино Алексея Чадова и сыграл одну из своих последних ролей Сергей Бодров-мл.</span></li>
                            <li class="list-item-home-page"><span>В Тобольске снимались фильмы: «Срочно… Секретно… Губчека» (1982г.), «Тайна Золотой горы» (1985 г.), «Золотая баба» (1987г.).</span></li>
                            <li class="list-item-home-page"><span>В Тобольске снимался фильм «Я обещала, я уйду…» (режиссёр Валерий Ахадов), где в главной роли снялась Елена Корикова.</span></li>
                            <li class="list-item-home-page"><span>«Тобол» (2019г.) – российская историческая драма режиссера Игоря Зайцева. В картине снялись Илья Маланин, Дмитрий Дюжев, Евгений Дятлов, Дмитрий Назаров, Агата Муцениеце, Андрей Бурковский и другие.</span></li>
                            <li class="list-item-home-page"><span>В 2008 году вышел фильм Константина Одегова «Наследники», частично снятый в Тобольске.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="spoiler-wrap">
                    <div class="spoiler-head">
                        <h6>Музыка</h6>
                    </div>
                    <div class="spoiler-body">
                        <ul class="list-home-page">
                            <li class="list-item-home-page"><span>Городу и походу 2-й Тихоокеанской эскадры во время войны с Японией в 1904 году посвящена песня Олега Митяева «Чужая война».</span></li>
                            <li class="list-item-home-page"><span>Тобольск, как место ссылки семьи Николая Второго, упоминается в песне Максима Трошина «Всё теперь против нас».</span></li>
                            <li class="list-item-home-page"><span>Городу посвящена «Тобольская симфония» (1971) новосибирского композитора А. Ф. Мурова.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="home-page-title pt-5 pb-5 text-center">Известные тоболяки</h1>
        <div class="row spoiler-pc">
            <div class="row justify-content-around">
                {% for i in popular_people %}
                <div class="col-12 col-md-5 popular-people-card-block my-3 d-flex align-items-center">
                    <div class="row">
                        <div class="col-12 col-xl-6 m-auto">
                            <img src="{{ i.image.url }}">
                        </div>
                        <div class="col-12 col-xl-6 mt-3">
                            <h5>{{ i.name }} ({{ i.bored }})</h5>
                            <p class="text mt-3">
                                {{ i.text }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row spoiler-mob">
            <div class="col-12">
                <div class="spoiler-wrap">
                    <div class="spoiler-head">
                        <h6>Известные тоболяки</h6>
                    </div>
                    <div class="spoiler-body">
                        <div class="row justify-content-around">
                            {% for i in popular_people %}
                            <div class="col-12 col-md-5 popular-people-card-block my-3">
                                <div class="row">
                                    <div class="col-12 col-xl-6">
                                        <img src="{{ i.image.url }}">
                                    </div>
                                    <div class="col-12 col-xl-6 mt-3">
                                        <h5>{{ i.name }} ({{ i.bored }})</h5>
                                        <p class="text mt-3">
                                            {{ i.text }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="home-page-title pt-5 pb-5 text-center">Интересные факты о Тобольске</h1>
        <div class="row spoiler-pc">
            <div class="row justify-content-around">
                {% for i in interesting_facts %}
                <div class="col-12 col-md-5 popular-people-card-block my-3 d-flex align-items-center">
                    <div class="row">
                        <div class="col-12 col-xl-6 m-auto">
                            <img src="{{ i.image.url }}">
                        </div>
                        <div class="col-12 col-xl-6 mt-3">
                            <h5>Факт №{{ i.pk }}</h5>
                            <p class="text mt-3">
                                {{ i.text }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row spoiler-mob">
            <div class="col-12">
                <div class="spoiler-wrap">
                    <div class="spoiler-head">
                        <h6>Интересные факты</h6>
                    </div>
                    <div class="spoiler-body">
                        <div class="row justify-content-around">
                            {% for i in interesting_facts %}
                            <div class="col-12 col-md-5 facts-card-block my-3">
                                <div class="row">
                                    <div class="col-12 col-xl-6">
                                        <img src="{{ i.image.url }}">
                                    </div>
                                    <div class="col-12 col-xl-6 mt-3">
                                        <h5>Факт №{{ i.pk }}</h5>
                                        <p class="text mt-3">
                                            {{ i.text }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
