{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="home-page-screen main-home-page-screen">
    <h1 class="home-page-title text-center">Добро пожаловать в Тобольск</h1><br>
    <!-- <h3 class="text-center home-page-sub-title">культурную столицу сибири</h3> -->
    <a href="#" class="home-page__scroll-down">
        <i class="fas fa-angle-down"></i>
    </a>
</div>
<div class="home-page-screen-2 main-home-city-history" id="home-page-screen-city-history">
    <div class="container">
        <h1 class="home-page-title pt-5 pb-5 text-center">История города</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-xl-4"> 
                <a href="{% url 'history' %}">
                    <div class="_btn">Читать</div>
                </a>
            </div>
        </div>
        <h1 class="home-page-title pt-5 pb-5 text-center">Тобольск в искусстве</h1>
        <!-- блок искусства на пк -->
        <div class="row li-spoiler-pc">
            <div class="col-12 col-xl-4">
                <p class="text-center fw-bold fs-5 home-page-title-screen-city-history">Литература</p><br>
                <ul class="list-home-page">
                    <li class="list-item-home-page"><span>В городе разворачиваются события поэмы «Встреча в Тобольске» С. Д. Давыдова.</span></li>
                    <li class="list-item-home-page"><span>В городе происходит действие ряда поэм Л. Н. Мартынова — «Тобольский летописец» (1937) и др.</span></li>
                    <li class="list-item-home-page"><span>Пленение в Тобольске царевича Ураз-Мухаммеда и Кадыр Али-бека отражено в романе «Вешние снега» (1990) казахского писателя Мухтара Магауина.</span></li>
                    <li class="list-item-home-page"><span>Герой романа Брэма Стокера «Дракула» Квинси Моррис вспоминает о том, как его вместе с Артуром Холмвудом преследовала стая волков под Тобольском.</span></li>
                    <li class="list-item-home-page"><span>В продолжении знаменитого «Робинзона Крузо» Даниэля Дефо герой путешествует по России и 8 месяцев проводит именно в этом городе, пережидая суровые морозы.В городе разворачиваются события поэмы «Встреча в Тобольске» С. Д. Давыдова.</span></li>
                </ul>
            </div>
            <div class="col-12 col-xl-4">
                <p class="text-center fw-bold fs-5 home-page-title-screen-city-history">Кинематограф</p><br>
                <ul class="list-home-page">
                    <li class="list-item-home-page"><span>В кинокомедии 60-х годов «Большие гонки» главные герои посещают Тобольск, где их встречают люди с факелами, а вокруг царит полярная ночь, которой тут на самом деле не бывает.</span></li>
                    <li class="list-item-home-page"><span>В Тобольске происходит действие фильма «Мраморный дом» режиссёра Бориса Григорьева.</span></li>
                    <li class="list-item-home-page"><span>В Тобольске снимался фильм Алексея Балабанова «Война», где состоялся дебют в кино Алексея Чадова и сыграл одну из своих последних ролей Сергей Бодров-мл.</span></li>
                    <li class="list-item-home-page"><span>В Тобольске снимались фильмы: «Срочно… Секретно… Губчека» (1982г.), «Тайна Золотой горы» (1985 г.), «Золотая баба» (1987г.).</span></li>
                    <li class="list-item-home-page"><span>В Тобольске снимался фильм «Я обещала, я уйду…» (режиссёр Валерий Ахадов), где в главной роли снялась Елена Корикова.</span></li>
                    <li class="list-item-home-page"><span>«Тобол» (2019г.) – российская историческая драма режиссера Игоря Зайцева. В картине снялись Илья Маланин, Дмитрий Дюжев, Евгений Дятлов, Дмитрий Назаров, Агата Муцениеце, Андрей Бурковский и другие.</span></li>
                    <li class="list-item-home-page"><span>В 2008 году вышел фильм Константина Одегова «Наследники», частично снятый в Тобольске.</span></li>
                </ul>
            </div>
            <div class="col-12 col-xl-4">
                <p class="text-center fw-bold fs-5 home-page-title-screen-city-history">Музыка</p><br>
                <ul class="list-home-page">
                    <li class="list-item-home-page"><span>Городу и походу 2-й Тихоокеанской эскадры во время войны с Японией в 1904 году посвящена песня Олега Митяева «Чужая война».</span></li>
                    <li class="list-item-home-page"><span>Тобольск, как место ссылки семьи Николая Второго, упоминается в песне Максима Трошина «Всё теперь против нас».</span></li>
                    <li class="list-item-home-page"><span>Городу посвящена «Тобольская симфония» (1971) новосибирского композитора А. Ф. Мурова.</span></li>
                </ul>
            </div>
        </div>
        <!-- блок искусства на телфонах -->
        <div class="row li-spoiler-mob">
            <div class="col-12">
                <div class="spoiler-wrap">
                    <div class="spoiler-head">
                        <h6>Литература</h6>
                    </div>
                    <div class="spoiler-body">
                        <ul class="list-home-page">
                            <li class="list-item-home-page"><span>В городе разворачиваются события поэмы «Встреча в Тобольске» С. Д. Давыдова.</span></li>
                            <li class="list-item-home-page"><span>В городе происходит действие ряда поэм Л. Н. Мартынова — «Тобольский летописец» (1937) и др.</span></li>
                            <li class="list-item-home-page"><span>Пленение в Тобольске царевича Ураз-Мухаммеда и Кадыр Али-бека отражено в романе «Вешние снега» (1990) казахского писателя Мухтара Магауина.</span></li>
                            <li class="list-item-home-page"><span>Герой романа Брэма Стокера «Дракула» Квинси Моррис вспоминает о том, как его вместе с Артуром Холмвудом преследовала стая волков под Тобольском.</span></li>
                            <li class="list-item-home-page"><span>В продолжении знаменитого «Робинзона Крузо» Даниэля Дефо герой путешествует по России и 8 месяцев проводит именно в этом городе, пережидая суровые морозы.В городе разворачиваются события поэмы «Встреча в Тобольске» С. Д. Давыдова.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="spoiler-wrap">
                    <div class="spoiler-head">
                        <h6>Кинематограф</h6>
                    </div>
                    <div class="spoiler-body">
                        <ul class="list-home-page">
                            <li class="list-item-home-page"><span>В кинокомедии 60-х годов «Большие гонки» главные герои посещают Тобольск, где их встречают люди с факелами, а вокруг царит полярная ночь, которой тут на самом деле не бывает.</span></li>
                            <li class="list-item-home-page"><span>В Тобольске происходит действие фильма «Мраморный дом» режиссёра Бориса Григорьева.</span></li>
                            <li class="list-item-home-page"><span>В Тобольске снимался фильм Алексея Балабанова «Война», где состоялся дебют в кино Алексея Чадова и сыграл одну из своих последних ролей Сергей Бодров-мл.</span></li>
                            <li class="list-item-home-page"><span>В Тобольске снимались фильмы: «Срочно… Секретно… Губчека» (1982г.), «Тайна Золотой горы» (1985 г.), «Золотая баба» (1987г.).</span></li>
                            <li class="list-item-home-page"><span>В Тобольске снимался фильм «Я обещала, я уйду…» (режиссёр Валерий Ахадов), где в главной роли снялась Елена Корикова.</span></li>
                            <li class="list-item-home-page"><span>«Тобол» (2019г.) – российская историческая драма режиссера Игоря Зайцева. В картине снялись Илья Маланин, Дмитрий Дюжев, Евгений Дятлов, Дмитрий Назаров, Агата Муцениеце, Андрей Бурковский и другие.</span></li>
                            <li class="list-item-home-page"><span>В 2008 году вышел фильм Константина Одегова «Наследники», частично снятый в Тобольске.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="spoiler-wrap">
                    <div class="spoiler-head">
                        <h6>Музыка</h6>
                    </div>
                    <div class="spoiler-body">
                        <ul class="list-home-page">
                            <li class="list-item-home-page"><span>Городу и походу 2-й Тихоокеанской эскадры во время войны с Японией в 1904 году посвящена песня Олега Митяева «Чужая война».</span></li>
                            <li class="list-item-home-page"><span>Тобольск, как место ссылки семьи Николая Второго, упоминается в песне Максима Трошина «Всё теперь против нас».</span></li>
                            <li class="list-item-home-page"><span>Городу посвящена «Тобольская симфония» (1971) новосибирского композитора А. Ф. Мурова.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="home-page-title pt-5 pb-5 text-center">Известные тоболяки</h1>
        <div class="row li-spoiler-pc">
            <div class="col-12">
                <ul class="list-home-page">
                    <li class="list-item-home-page"><span>Александр Гавриилович Абдулов (1953—2008) — советский и российский актёр театра и кино, кинорежиссёр, заслуженный артист РСФСР, народный артист РСФСР. Играл в фильмах «Место встречи изменить нельзя», «С любимыми не расставайтесь» и других.</span></li>
                    <li class="list-item-home-page"><span>Александр Александрович Алябьев (1787—1851) — выдающийся русский композитор, дирижер, пианист, автор двадцати музыкальных комедий, семи опер, двухсот романсов, самого известного из них романса  "Соловей".</span></li>
                    <li class="list-item-home-page"><span>Бори‌с Па‌влович Грабо‌вский (1901—1966) — советский физик и изобретатель, один из пионеров телевидения, который первым изобрел полностью электронный телевизор со строчной и кадровой развертками.</span></li>
                    <li class="list-item-home-page"><span>Пётр Павлович Ершов (1815—1869) — русский поэт, прозаик, драматург, автор сказки в стихах «Конёк-Горбунок», ставшей классикой русской литературы. </span></li>
                    <li class="list-item-home-page"><span>Михаил Степанович Знаменский (1833—1892)— русский писатель, мемуарист, литератор, художник, карикатурист, археолог, этнограф, краевед.</span></li>
                    <li class="list-item-home-page"><span>Елена Юрьевна Корикова (1972) — востребованная российская актриса, телеведущая, известная по кинофильмам "Барышня-крестьянка", "Бедная Настя" и др.</span></li>
                    <li class="list-item-home-page"><span>Дмитрий Иванович Менделеев (1834—1907) — великий русский учёный-энциклопедист: физикохимик, экономист, педагог, метролог, геолог, технолог, метеоролог, приборостроитель, нефтяник, воздухоплаватель, создатель Периодического закона химических элементов.</span></li>
                    <li class="list-item-home-page"><span>Николай Васильевич Никитин (1907—1973) — советский архитектор и учёный в области строительных конструкций, автор проекта Останкинской телебашни в Москве и монумента «Родина-Мать».</span></li>
                    <li class="list-item-home-page"><span>Юрий Сергеевич Осипов (1936) — советский и российский механик, педагог, математик, профессор, с 1991 по 2013 год президент Российской академии наук, академик АН СССР. Лауреат Ленинской и Государственной премий.</span></li>
                    <li class="list-item-home-page"><span>Василий Григорьевич Перов (1833/1834—1882) — русский живописец, один из членов-учредителей Товарищества передвижных художественных выставок, известный художник-живописец, автор картин "Тройка", "Учитель рисования" и др.</span></li>
                    <li class="list-item-home-page"><span>Семён Ульянович Ремезов (1642—1720) — русский энциклопедист Сибири - картограф, архитектор, строитель, историк, художник, писатель. В историю России Ремезов вошёл прежде всего как автор первого русского географического атласа "Чертежной книги Сибири".</span></li>
                    <li class="list-item-home-page"><span>Лидия Николаевна Смирнова (1915—2007) — советская и российская актриса, народная артистка СССР, Заслуженная артистка РСФСР, известная по кинофильмам "Парень из нашего города", "Моя любовь" и др.</span></li>
                </ul>
            </div>
        </div>
        <div class="row li-spoiler-mob">
            <div class="col-12">
                <div class="spoiler-wrap">
                    <div class="spoiler-head">
                        <h6>Известные тоболяки</h6>
                    </div>
                    <div class="spoiler-body">
                        <ul class="list-home-page">
                            <li class="list-item-home-page"><span>Александр Гавриилович Абдулов (1953—2008) — советский и российский актёр театра и кино, кинорежиссёр, заслуженный артист РСФСР, народный артист РСФСР. Играл в фильмах «Место встречи изменить нельзя», «С любимыми не расставайтесь» и других.</span></li>
                            <li class="list-item-home-page"><span>Александр Александрович Алябьев (1787—1851) — выдающийся русский композитор, дирижер, пианист, автор двадцати музыкальных комедий, семи опер, двухсот романсов, самого известного из них романса  "Соловей".</span></li>
                            <li class="list-item-home-page"><span>Бори‌с Па‌влович Грабо‌вский (1901—1966) — советский физик и изобретатель, один из пионеров телевидения, который первым изобрел полностью электронный телевизор со строчной и кадровой развертками.</span></li>
                            <li class="list-item-home-page"><span>Пётр Павлович Ершов (1815—1869) — русский поэт, прозаик, драматург, автор сказки в стихах «Конёк-Горбунок», ставшей классикой русской литературы. </span></li>
                            <li class="list-item-home-page"><span>Михаил Степанович Знаменский (1833—1892)— русский писатель, мемуарист, литератор, художник, карикатурист, археолог, этнограф, краевед.</span></li>
                            <li class="list-item-home-page"><span>Елена Юрьевна Корикова (1972) — востребованная российская актриса, телеведущая, известная по кинофильмам "Барышня-крестьянка", "Бедная Настя" и др.</span></li>
                            <li class="list-item-home-page"><span>Дмитрий Иванович Менделеев (1834—1907) — великий русский учёный-энциклопедист: физикохимик, экономист, педагог, метролог, геолог, технолог, метеоролог, приборостроитель, нефтяник, воздухоплаватель, создатель Периодического закона химических элементов.</span></li>
                            <li class="list-item-home-page"><span>Николай Васильевич Никитин (1907—1973) — советский архитектор и учёный в области строительных конструкций, автор проекта Останкинской телебашни в Москве и монумента «Родина-Мать».</span></li>
                            <li class="list-item-home-page"><span>Юрий Сергеевич Осипов (1936) — советский и российский механик, педагог, математик, профессор, с 1991 по 2013 год президент Российской академии наук, академик АН СССР. Лауреат Ленинской и Государственной премий.</span></li>
                            <li class="list-item-home-page"><span>Василий Григорьевич Перов (1833/1834—1882) — русский живописец, один из членов-учредителей Товарищества передвижных художественных выставок, известный художник-живописец, автор картин "Тройка", "Учитель рисования" и др.</span></li>
                            <li class="list-item-home-page"><span>Семён Ульянович Ремезов (1642—1720) — русский энциклопедист Сибири - картограф, архитектор, строитель, историк, художник, писатель. В историю России Ремезов вошёл прежде всего как автор первого русского географического атласа "Чертежной книги Сибири".</span></li>
                            <li class="list-item-home-page"><span>Лидия Николаевна Смирнова (1915—2007) — советская и российская актриса, народная артистка СССР, Заслуженная артистка РСФСР, известная по кинофильмам "Парень из нашего города", "Моя любовь" и др.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="home-page-title pt-5 pb-5 text-center">Интересные факты о Тобольске</h1>
        <div class="row li-spoiler-pc">
            <div class="col-12">
                <ul class="list-home-page">
                    <li class="list-item-home-page"><span>В Тобольске находится единственный на территории Сибири каменный кремль.</span></li>
                    <li class="list-item-home-page"><span>Фотография Тобольского Кремля, выполненная президентом РФ Дмитрием Медведевым во время посещения Тобольска, продана на благотворительном аукционе в Санкт-Петербурге за 51 млн рублей.</span></li>
                    <li class="list-item-home-page"><span>С Тобольским Кремлем связано множество легенд. Ходят слухи о том, что под кремлем проложены многочисленные подземные туннели, с помощью которых можно как попасть в него, так и незаметно его покинуть. И эти слухи подтверждаются реальными фактами: в 1947 году была взорвана Богородицкая церковь. Грунт неожиданно провалился, под ним находилось несколько подземных ходов. </span></li>
                    <li class="list-item-home-page"><span>Первый деревянный кремль на Троицком мысу был воздвигнут здесь еще в 1594 году, но город часто горел, как и многие деревянные города в то время, поэтому после его перестраивали шесть раз.</span></li>
                    <li class="list-item-home-page"><span>Тобольский кремль изображён на купюре номиналом сто уральских франков 1991 года выпуска.</span></li>
                    <li class="list-item-home-page"><span>Именно в Тобольском кремле когда-то висел «ссыльный колокол» — набатный колокол Углича, в который звонили, сзывая народ после убийства Лжедмитрия, и которому по приказу Шуйского «вырвали язык и ухо», после чего отправили в ссылку в 1592 г. в Сибирь. Ссылку свою колокол отбывал аж до XIX века.</span></li>
                    <li class="list-item-home-page"><span>Кремль же установлен на древнем священном месте. Называлось оно в древности Алтын-агинак. Дословный перевод: «золотые искры выкидывающая гора».</span></li>
                    <li class="list-item-home-page"><span>Архитектура города Тобольска очень интересна – если соединить расположенные в нем церкви линиями, то можно увидеть подобный ладони силуэт.</span></li>
                    <li class="list-item-home-page"><span>Тобольск — родина первого русского географического атласа "Чертежной книги Сибири" С. Ремезова.</span></li>
                    <li class="list-item-home-page"><span>В Тобольске отбывали ссылку протопоп Аввакум, декабристы И.А. Анненков, В.К. Кюхельбекер, А.Н. Муравьев, М.А. Фонвизин, а также писатель А.Н. Радищев, государственный деятель М.М. Сперанский, первый русский портретист И.Н. Никитин. С 13 августа 1917 года по 13 апреля 1918 года в Тобольске в ссылке жил Николай II со своей семьей.</span></li>
                </ul>
            </div>
        </div>
        <div class="row li-spoiler-mob">
            <div class="col-12">
                <div class="spoiler-wrap">
                    <div class="spoiler-head">
                        <h6>Интересные факты</h6>
                    </div>
                    <div class="spoiler-body">
                        <ul class="list-home-page">
                            <li class="list-item-home-page"><span>В Тобольске находится единственный на территории Сибири каменный кремль.</span></li>
                            <li class="list-item-home-page"><span>Фотография Тобольского Кремля, выполненная президентом РФ Дмитрием Медведевым во время посещения Тобольска, продана на благотворительном аукционе в Санкт-Петербурге за 51 млн рублей.</span></li>
                            <li class="list-item-home-page"><span>С Тобольским Кремлем связано множество легенд. Ходят слухи о том, что под кремлем проложены многочисленные подземные туннели, с помощью которых можно как попасть в него, так и незаметно его покинуть. И эти слухи подтверждаются реальными фактами: в 1947 году была взорвана Богородицкая церковь. Грунт неожиданно провалился, под ним находилось несколько подземных ходов. </span></li>
                            <li class="list-item-home-page"><span>Первый деревянный кремль на Троицком мысу был воздвигнут здесь еще в 1594 году, но город часто горел, как и многие деревянные города в то время, поэтому после его перестраивали шесть раз.</span></li>
                            <li class="list-item-home-page"><span>Тобольский кремль изображён на купюре номиналом сто уральских франков 1991 года выпуска.</span></li>
                            <li class="list-item-home-page"><span>Именно в Тобольском кремле когда-то висел «ссыльный колокол» — набатный колокол Углича, в который звонили, сзывая народ после убийства Лжедмитрия, и которому по приказу Шуйского «вырвали язык и ухо», после чего отправили в ссылку в 1592 г. в Сибирь. Ссылку свою колокол отбывал аж до XIX века.</span></li>
                            <li class="list-item-home-page"><span>Кремль же установлен на древнем священном месте. Называлось оно в древности Алтын-агинак. Дословный перевод: «золотые искры выкидывающая гора».</span></li>
                            <li class="list-item-home-page"><span>Архитектура города Тобольска очень интересна – если соединить расположенные в нем церкви линиями, то можно увидеть подобный ладони силуэт.</span></li>
                            <li class="list-item-home-page"><span>Тобольск — родина первого русского географического атласа "Чертежной книги Сибири" С. Ремезова.</span></li>
                            <li class="list-item-home-page"><span>В Тобольске отбывали ссылку протопоп Аввакум, декабристы И.А. Анненков, В.К. Кюхельбекер, А.Н. Муравьев, М.А. Фонвизин, а также писатель А.Н. Радищев, государственный деятель М.М. Сперанский, первый русский портретист И.Н. Никитин. С 13 августа 1917 года по 13 апреля 1918 года в Тобольске в ссылке жил Николай II со своей семьей.</span></li>        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
