{% extends 'main/layout.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="text-center sights__title">{{ title }}</h1>
<div class="container">
    <div class="content mt-5">
        <div id="carouselExampleIndicators" class="carousel slide mb-5 slider__show-sight" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active cur-pointer" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="{{ title_image.url }}" class="d-block w-100" alt="title-image">
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center">
                                <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                            </div>
                            <div class="modal-body">
                                <img src="{{ title_image.url }}" alt="">
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <div class="btn-cus-1 btn-close-modal text-center" data-bs-dismiss="modal">Закрыть</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for i in img %}
                    <div class="carousel-item cur-pointer" data-bs-toggle="modal" data-bs-target="#exampleModal{{ i.id }}">
                        <img src="{{ i.image.url }}" class="d-block w-100" alt="image">
                    </div>
                    <div class="modal fade" id="exampleModal{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                                </div>
                                <div class="modal-body">
                                    <img src="{{ i.image.url }}" alt="">
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <div class="btn-cus-1 btn-close-modal" data-bs-dismiss="modal">Закрыть</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="sights__fast-info">
            <div class="btn__in-sights-wrap d-flex justify-content-start align-items-start flex-column col-8">
                <p class="text title mx-2">Краткая информация</p>
                {% if site %}
                <a href="http://{{ site }}" target="_blank" class="btn__in-sights">Перейти на сайт</a>
                {% endif %}
                {% if address|length >= 2 %}
                <p class="text title mt-3 mx-2">Адреса</p>
                {% else %}
                <p class="text title mt-3 mx-2">Адрес</p>
                {% endif %}
                <div class="d-flex flex-wrap">
                    {% for address in address %}
                    <a href="https://yandex.ru/maps/?text=Тобольск, {{ address }}" target="_blank" class="btn__in-sights">{{ address }}</a>
                    {% endfor %}
                </div>
                {% if number%}
                    {% if number|length >= 2 %}
                    <p class="text title mt-3 mx-2">Телефоны</p>
                    {% else %}
                    <p class="text title mt-3 mx-2">Телефон</p>
                    {% endif %}
                    <div class="d-flex flex-wrap">
                        {% for number in number %}
                        <a href="tel:{{ number }}" class='btn__in-sights'>{{ number }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if price %}
                <p class="text title mt-3 mx-2">Стоимость билета</p>
                <div class="price mx-2 mt-1">{{ price }}</div>
                {% endif %}
                <br>
                <p class="text mx-2"><i class="far fa-eye"></i> {{ views }}</p>
            </div>
        </div>
        <p class="text text-in-card col-8">
            {{ full_text|linebreaksbr }}
        </p>

        <div class="rec-posts mt-5 pb-5 align-items-center d-flex flex-column">
            <h5 class="text-center">Похожее</h5>
            <div class="row justify-content-center m-0 w-100">
                {% for i in more %}
                    <div class="col-12 col-md-4">
                        {% if type == 'sights' %}
                        <a href="{% url 'show_sights' slug=i.2 %}">
                        {% elif type == 'eat' %}
                        <a href="{% url 'show_to_eat' slug=i.2 %}">
                        {% elif type == 'rest' %}
                        <a href="{% url 'show_to_rest' slug=i.2 %}">
                        {% elif type == 'ent' %}
                        <a href="{% url 'show_to_do' slug=i.2 %}">
                        {% endif %}
                            <div class="card mt-5">
                                <img src="{{ i.1 }}" class="card-img-top round">
                                <div class="card-title position-absolute">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-xl-7">{{ i.0 }}</div>
                                        <div class="col-12 col-xl-5">
                                            <div class="col-12 fw-bold card-category">{{ i.3 }}</div>
                                        </div>                                    
                                    </div>
                                </div>
                                <a href="https://yandex.ru/maps/?text=Тобольск, {{ i.4 }}" target="_blank">
                                    <div class="position-absolute sights__gps-mark d-flex d-flex justify-content-center align-items-center">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                               </a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
                {% if type == 'sights' %}
                <a href="{% url 'sights' %}?category={{ category.1 }}" class="btn-cus-1 col-12 col-md-6 mt-5">Посмотреть ещё в категории {{ category.0 }}</a>
                {% elif type == 'eat' %}
                <a href="{% url 'where_to_eat' %}?category={{ category.1 }}" class="btn-cus-1 col-12 col-md-6 mt-5">Посмотреть ещё в категории {{ category.0 }}</a>                
                {% elif type == 'rest' %}
                <a href="{% url 'where_to_rest' %}?category={{ category.1 }}" class="btn-cus-1 col-12 col-md-6 mt-5">Посмотреть ещё в категории {{ category.0 }}</a>                
                {% elif type == 'ent' %}
                <a href="{% url 'where_to_do' %}?category={{ category.1 }}" class="btn-cus-1 col-12 col-md-6 mt-5">Посмотреть ещё в категории {{ category.0 }}</a>                
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}