$milk-white: #ECEEF2;
$white: #fff;
$primory-purple: #8453ff;
$primory-orange: #FCCA00;
$primory-dark-theme-color: #161616;
$secondary-dark-theme-color: #232323;
$box-shadow-color: #161616;
$box-shadow: 4px;
$nav-height: 55px;
$anim-delay-slow: .8s;
$anim-delay-fast: .25s;
$border-radius: 16px;
$border-radius-card: 4px;
$box-shadow-card: 0px 4px 8px rgba(22, 22, 22, .25); // #161616 opacity 25% 

.chosen_category {
    display: none;
    @media only screen and (max-width: 990px) {
        position: fixed;
        display: flex;
        justify-content: space-between;
        top: 54px;
        left: 0;
        right: 0;
        z-index: 5;
        padding: .5rem;
        border-radius: $border-radius-card;
        margin: 1rem;
        background-color: $milk-white;
        color: $primory-dark-theme-color;
        box-shadow: $box-shadow-card;
        font-size: 1.2rem;
        font-family: 'Open Sans', sans-serif;
        &.dark-theme {
            background-color: $primory-orange;
            color: $primory-dark-theme-color;
        }
    }
    .btn__close-category {
        color: $primory-dark-theme-color;
        padding-left: 8px;
        &.dark-theme {
            color: $primory-dark-theme-color;
        }
    }
}
