$milk-white: #ECEEF2;
$white: #fff;
$primory-purple: #8453ff;
$primory-orange: #FCCA00;
// $primory-orange: #bb82ff;
$primory-dark-theme-color: #161616;
$secondary-dark-theme-color: #232323;
$box-shadow-color: #161616;
$box-shadow: 4px;
$nav-height: 55px;
$anim-delay-slow: .8s;
$anim-delay-fast: .25s;
$border-radius: 16px;
$border-radius-card: 4px;
$box-shadow-card: 0px 4px 8px rgba(22, 22, 22, .25); // #161616 opacity 25% 


footer {
    background-color: $primory-purple;
    padding: 4rem 1rem 1rem 1rem;
    flex: 0 0 auto;
    @media only screen and (max-width: 990px) {
        flex: 0 0 auto;
        padding-bottom: calc(#{$nav-height} + 16px);
        font-size: 1.4rem
    }
    &.dark-theme {
        background-color: $secondary-dark-theme-color;
    }
    .footer-links {
        @media only screen and (max-width: 990px) {
            text-align: center;
        }
    }
    .footer__block {
        @media only screen and (max-width: 990px) {
            &:first-child {
                margin: 0;
            }
            &:last-child {
                margin-bottom: 3rem;
            }
            margin-top: 3rem;
        }
    }
    .email {
        color: $primory-orange;
    }
    .footer__text {
        color: $milk-white;
        @media only screen and (max-width: 990px) {
            font-size: 1.4rem;
            &:last-child {
                font-size: 1rem;
            }
        }
    }
    .footer-link {
        color: $milk-white;
        border-bottom: 2px solid transparent;
        transition: all $anim-delay-fast ease;
        &:hover {
            border-bottom: 2px solid $primory-orange;
        }
    }
    .social-networks-footer {
        padding-top: 1rem;
        @media only screen and (max-width: 990px) {
            padding-top: 0;
        }
    }
}