$milk-white: #ECEEF2;
$primory-purple: #8453ff;
$primory-orange: #FCCA00;
$primory-dark-theme-color: #161616;
$secondary-dark-theme-color: #232323;
$box-shadow-color: #161616;
$box-shadow: 4px;
$nav-height: 55px;
$anim-delay-slow: .8s;
$anim-delay-fast: .25s;
$border-radius: 16px;
$border-radius-card: 4px;
$box-shadow-card: 0px 4px 8px rgba(22, 22, 22, .25); // #161616 opacity 25% 


html, body {
    background-color: $milk-white;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    font-size: 16px!important;
    @media screen and (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
    &.dark-theme {
        background-color: $primory-dark-theme-color;
        &::-webkit-scrollbar {
            width: 10px;
            background-color: $secondary-dark-theme-color;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: $border-radius;
            background-color: $primory-orange;
        }
        @media screen and (max-width: 990px) {
            &::-webkit-scrollbar {
                width: 0;
            }
        }
    }
    &::-webkit-scrollbar {
        width: 10px;
        background-color: $primory-purple;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: $border-radius;
        background-color: $primory-orange;
    }
    @media screen and (max-width: 990px) {
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

*::selection {
    background-color: $primory-purple;
    color: $milk-white;
}