nav {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
}

nav.active:before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav.active.dark-theme:before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 4px rgba(22, 22, 22, 0.25);
          box-shadow: 0 0px 4px rgba(22, 22, 22, 0.25);
}

@media screen and (max-width: 990px) {
  nav:before {
    -webkit-box-shadow: 0 2px 4px #161616;
            box-shadow: 0 2px 4px #161616;
    background-color: #ff8f00;
  }
}

nav.dark-theme:before {
  background-color: #232323;
}

@media screen and (max-width: 990px) {
  nav.dark-theme:before {
    -webkit-box-shadow: 0 2px 4px #161616;
            box-shadow: 0 2px 4px #161616;
  }
}

nav .nav__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav__body .nav__list {
  z-index: 5;
}

nav .nav__body .nav__list .nav__link {
  color: #161616;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-bottom: 2px solid transparent;
}

nav .nav__body .nav__list .nav__link:hover {
  border-bottom: 2px solid #ff8f00;
}

nav .nav__body .nav__list .nav__link.dark-theme {
  color: #ECEEF2;
}

nav .nav__body .nav__list .nav__link.dark-theme:hover {
  border-bottom: 2px solid #FCCA00;
}

@media only screen and (max-width: 990px) {
  nav .nav__body .nav__list .nav__link {
    font-size: 1.4rem;
    width: 100%;
    border-radius: 4px;
    margin-top: 1rem;
    color: #ECEEF2;
    -webkit-box-shadow: 0 2px 4px #ECEEF2;
            box-shadow: 0 2px 4px #ECEEF2;
    font-family: 'Montserrat', sans-serif;
  }
  nav .nav__body .nav__list .nav__link:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 375px) {
  nav .nav__body .nav__list .nav__link {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 990px) {
  nav .nav__body .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav .nav__body .nav__list .search .search-input {
  border-radius: 4px 0 0 4px;
  padding: 4px 8px;
  font-family: 'Open Sans', sans-serif;
  color: #161616;
  border: 2px solid rgba(255, 255, 255, 0);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #ECEEF2;
  width: 150px;
}

nav .nav__body .nav__list .search .search-input.dark-theme {
  background-color: #161616;
  color: #ECEEF2;
}

nav .nav__body .nav__list .search .search-input:focus-visible {
  outline: none;
  background-color: #fff;
  border: 2px solid #ff8f00;
}

nav .nav__body .nav__list .search .search-input:focus-visible.dark-theme {
  background-color: #161616;
  border: 2px solid #FCCA00;
}

@media only screen and (max-width: 990px) {
  nav .nav__body .nav__list .search .search-input {
    width: 100%;
    height: 49px;
  }
}

nav .nav__body .nav__list .search .search-btn, nav .nav__body .nav__list .search .search-microphone {
  border: none;
  background: #ECEEF2;
  text-align: center;
  color: #ff8f00;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

nav .nav__body .nav__list .search .search-btn.dark-theme, nav .nav__body .nav__list .search .search-microphone.dark-theme {
  color: #FCCA00;
  background-color: #161616;
}

nav .nav__body .nav__list .search .search-btn {
  padding: 0 .5rem;
}

nav .nav__body .nav__list .search .search-microphone {
  border-radius: 0;
  padding: 0 .5rem;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

nav .nav__body .nav__list .search .search-microphone.active {
  background-color: #fff;
}

nav .nav__body .nav__list .search .search-microphone.active.dark-theme {
  background-color: #232323;
}

@media only screen and (max-width: 990px) {
  nav .nav__body .nav__list .search {
    margin-top: 1rem;
    width: 100%;
  }
}

nav .nav__body .nav__logo {
  z-index: 3;
}

nav .nav__body .nav__logo img {
  width: 36px;
  border-radius: 0;
}

nav .nav__body .nav__logo img.dark-theme {
  opacity: 1;
}

@media only screen and (max-width: 990px) {
  nav .nav__body .nav__logo {
    display: none;
  }
}

nav .nav__body .nav__burger {
  display: none;
}

@media only screen and (max-width: 990px) {
  nav .nav__body .nav__burger {
    display: block;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  nav .nav__body .nav__burger:before, nav .nav__body .nav__burger:after {
    content: '';
    background-color: #ECEEF2;
    width: 100%;
    position: absolute;
    height: 2px;
    border-radius: 16px;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  nav .nav__body .nav__burger:before {
    top: 0;
  }
  nav .nav__body .nav__burger:after {
    bottom: 0;
  }
  nav .nav__body .nav__burger span {
    background-color: #ECEEF2;
    height: 2px;
    border-radius: 16px;
    width: 100%;
    top: 9px;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  nav .nav__body .nav__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  nav .nav__body .nav__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  nav .nav__body .nav__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media only screen and (max-width: 990px) {
  nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }
  nav .nav__menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 100%;
    width: 100%;
    height: calc(100% + 55px);
    background-color: #ff8f00;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  nav .nav__menu.active {
    top: 0;
  }
  nav .nav__menu.dark-theme {
    background-color: #232323;
  }
}

.image__menu {
  display: none;
}

@media only screen and (max-width: 990px) {
  .image__menu {
    display: block;
    top: 20%;
    position: absolute;
    text-align: center;
    top: 10vh;
  }
  .image__menu img {
    width: 200px;
    top: 0;
    border-radius: 0;
  }
}
/*# sourceMappingURL=navbar.css.map */