$milk-white: #ECEEF2;
$white: #fff;
$primory-purple: #8453ff;
$primory-orange: #FCCA00;
// $primory-orange: #bb82ff;
$primory-dark-theme-color: #161616;
$secondary-dark-theme-color: #232323;
$box-shadow-color: #161616;
$box-shadow: 4px;
$nav-height: 55px;
$anim-delay-slow: .8s;
$anim-delay-fast: .25s;
$border-radius: 16px;
$border-radius-card: 4px;
$box-shadow-card: 0px 4px 8px rgba(22, 22, 22, .25); // #161616 opacity 25% 

.spoiler-wrap {
    border-radius: $border-radius;
    margin: 1.5rem .5rem;
    background: $milk-white;
    box-shadow: $box-shadow-card;
    &.dark-theme {
        box-shadow: 0 2px $box-shadow $primory-orange; // цвет тени не менять
        background-color: $secondary-dark-theme-color;
    }
    .spoiler-head {
        display: flex;
        justify-content: center;
        height: 58px;
        align-items: center;
        h6 {
            color: $primory-dark-theme-color;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .spoiler-body {
        display: none;
        // padding: 0 1rem 1rem 0;
        span {
            color: $primory-dark-theme-color;
        }
    }
}


.spoiler-pc {
    display: flex;
    @media only screen and (max-width: 990px) {
        display: none;
    }
}

.spoiler-mob {
    display: none;
    @media only screen and (max-width: 990px) {
        display: flex;
        .popular-people-card-block, .facts-card-block {
            background: transparent;
            &.dark-theme {
                border-bottom: 1px solid $primory-orange;
                border: none;
                background: transparent;
            }
        }
    }
}