@import "loader";
@import "footer";
@import "brand";
@import "animations";
@import "htmlbody";
@import "navbar";
@import "filter";
@import "category";
@import "spoiler";
@import "buttons";
@import "homepage";

$milk-white: #ECEEF2;
$white: #fff;
// $primory-purple: #8453ff;
$primory-purple: #ff8f00;
// $primory-orange: #FCCA00;
$primory-orange: #ff8f00;

// $primory-orange: #bb82ff;
$primory-dark-theme-color: #161616;
$secondary-dark-theme-color: #232323;
$box-shadow-color: #161616;
$box-shadow: 4px;
$nav-height: 55px;
$anim-delay-slow: .8s;
$anim-delay-fast: .25s;
$border-radius: 16px;
$border-radius-card: 4px;
$box-shadow-card: 0px 4px 8px rgba(22, 22, 22, .25); // #161616 opacity 25% 

img {
    border-radius: $border-radius-card;
    &.logo-loader, &.logo-full {
        border-radius: 0;
    }
}


content {
    flex: 1 0 auto;
    .content {
        position: relative;
        padding-top: 3rem;
        @media only screen and (max-width: 990px) {
            padding-top: 1rem;
            &.active {
                padding-top: 3rem;
            }
        }
    }
}

a {
    text-decoration: none;
}

p {
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    color: $primory-dark-theme-color;
    margin: 0;
    &.text {
        &.dark-theme {
            color: $milk-white;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: $primory-dark-theme-color;
    font-weight: 500;
    position: relative;
    margin: 0;
    &.dark-theme {
        color: $milk-white;
    }
}

h1 {
    &.page-title {
        margin: 3rem 0;
    }
    &.sights__title {
        position: fixed;
        padding: 1rem;
        width: 100%;
        background-color: $white;
        top: $nav-height;
        left: 0;
        z-index: 666;
        box-shadow: 0 -2px $box-shadow $box-shadow-color;
        font-size: 1rem;
        &.dark-theme {
            background-color: $secondary-dark-theme-color;
        }
        @media only screen and (max-width: 990px) {
            top: 0;
        }
    }
    @media only screen and (max-width: 990px) {
        font-size: 1rem;
        &.page-title {
            margin: 0;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 6;
            padding: 1rem 0;
            box-shadow: 0 -2px $box-shadow $box-shadow-color;
            background-color: $milk-white;
            &.dark-theme {
                color: $milk-white;
                background-color: $secondary-dark-theme-color;
            }
        }
    }
}

h3 {
    &.h-bold {
        font-weight: 700;
    }
}

.cur-pointer {
    &:hover {
        cursor: pointer;
    }
}

.card {
    display: block;
    border-radius: $border-radius-card;
    border: none;
    height: 400px;
    transition: all $anim-delay-fast ease;
    @media only screen and (max-width: 990px) {
        height: 320px;
    }
    .card-title {
        color: $primory-dark-theme-color;
        bottom: 0;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        z-index: 1;
        padding: .5rem 1rem;
        font-size: .8rem;
        background-color: #fff;
        width: 100%;
        border-radius: 0 0 $border-radius-card $border-radius-card;
        &.dark-theme {
            background-color: $secondary-dark-theme-color;
            color: $milk-white;
        }
        .rec-card {
            background-color: $primory-purple;
            color: black;
            padding: 4px 8px;
            border-radius: $border-radius;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            &.dark-theme {
                background-color: $primory-orange;
                color: $primory-dark-theme-color;
            }
            @media screen and (max-width: 1199px) {
                margin-top: .5rem;
            }
        }
        .card-category {
            background-color: $milk-white;
            color: $primory-dark-theme-color;
            padding: 4px 8px;
            border-radius: 16px;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            text-align: center;
            &.dark-theme {
                background-color: $primory-dark-theme-color;
                color: $milk-white;
            }
            &.card-category-rec {
                margin-top: .5rem;
            }
            @media screen and (max-width: 1199px) {
                margin-top: .5rem;
            }
        }
    }
    img {
        &.card-img-top {
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        &.round {
            border-radius: $border-radius-card;
        }
    }
    &.dark-theme {
        background-color: $primory-dark-theme-color;
    }
    &:hover {
        transform: translateY(-8px);
        box-shadow: $box-shadow-card;
    }
    .sights__gps-mark {
        z-index: 2;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        background-color: #fff;
        height: 3rem;
        width: 3rem;
        border-radius: 100%;
        i {
            color: $secondary-dark-theme-color;
            &.dark-theme {
                color: $milk-white;
            }
        }
        &.dark-theme {
            background-color: $secondary-dark-theme-color;
        }
        &:hover {
            i {
                color: $primory-purple;
                &.dark-theme {
                    color: $primory-orange;
                }
            }
        }
    }
}

.slider__show-sight {
    margin-top: $nav-height;
    @media only screen and (max-width: 990px) {
        margin-top: 0;
    }
}

.carousel {
    .carousel-item {
        img {
            height: 500px;
            object-fit: cover;
            @media only screen and (max-width: 990px) {
                height: 200px;
            }
        }
    }
}

.sights__fast-info {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 1rem;
    border-bottom: $primory-purple solid 2px;
    margin-bottom: 1rem;
    &.dark-theme {
        border-bottom: $primory-orange solid 2px;
    }
    .title {
        text-transform: uppercase;
        font-weight: 700;
    }
}

.no-more {
    font-size: 1.8rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: $primory-purple;
    &.dark-theme {
        color: $primory-orange;
    }
}

.carousel {
    img {
        border-radius: $border-radius-card;
    }
}

.modal {
    &.fade {
        transition: opacity $anim-delay-fast ease;
    }
    .modal-dialog {
        .modal-content {
            background-color: $milk-white;
            &.dark-theme {
                background-color: $primory-dark-theme-color;
            }
            .modal-header {
                border: 0;
            }
            .modal-footer {
                border: 0;
            }
            .modal-body {
                display: block;
                margin: auto;
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 0;
                    object-fit: contain;
                }
                @media only screen and (max-width: 990px) {
                    flex-direction: column;
                }
            }
        }
    }
    &.modal-msg {
        .modal-dialog {
            .modal-body {
                margin: 0;
                .form-control {
                    height: 50vh;
                    @media only screen and (max-width: 990px) {
                        height: 30vh;
                    }
                    &:focus {
                        color: $primory-dark-theme-color;
                        border-color: $primory-purple;
                        box-shadow: none;
                        font-family: 'Open Sans', sans-serif;
                    }
                }
            }
        }
    }
}

.where-to-go__card {
    @media only screen and (max-width: 990px) {
        margin-top: 3rem;
    }
}

.mt-6 {
    @media only screen and (max-width: 990px) {
        margin-top: 6rem;
    }
}

.ya-share2__item {
    margin-left: 8px!important;
    transition: transform $anim-delay-fast ease;
    &:hover {
        transform: scale(1.2);
    }
    @media only screen and (max-width: 990px) {
        margin-right: 8px!important;
        margin-top: 16px!important;
    }
}

.about-text-block {
    border-radius: $border-radius-card;
    background-color: #fff;
    padding: 2.2rem;
    min-height: 300px;
    p {
        font-size: 1.4rem;
    }
    &.dark-theme {
        background-color: $secondary-dark-theme-color;
    }
    @media only screen and (max-width: 990px) {
        padding: 1rem;
    }
    .about-img {
        max-width: 100%;
        border-radius: $border-radius-card;
        @media only screen and (max-width: 767px) {
            margin-top: 3rem;
            &.about-img-no-margin-top {
                margin-top: 0;
                margin-bottom: 3rem;
            }
        }
    }
}

.read-history-block {
    background-color: #fff;
    border-radius: $border-radius-card;
    padding: 1rem;
    margin: 0 2px;
    &.dark-theme {
        background-color: $secondary-dark-theme-color;
    }
}

.text-in-card {
    @media only screen and (max-width: 990px) {
        width: 100%!important;
    }
}

.rec-posts {
    border-top: 2px solid $primory-purple;
    padding: 1rem;
    &.dark-theme {
        border-top: 2px solid $primory-orange;
    }
}

.wrap-search {
    border-bottom: 2px solid $primory-purple;
    &.dark-theme {
        border-bottom: 2px solid $primory-orange;
    }
    @media only screen and (max-width: 990px) {
        h4 {
            font-size: 1rem;
        }
    }
}