@media (prefers-color-scheme: dark) {
  .loader {
    background-color: #161616;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    position: fixed;
    z-index: 99999;
  }
  .loader .logo-loader {
    position: absolute;
    margin-top: 10vh;
    width: 20vh;
  }
  .loader .loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  .loader .loader-inner .loader-line-wrap {
    -webkit-animation: "spin-loader" 0.8s ease infinite;
            animation: "spin-loader" 0.8s ease infinite;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    width: 100px;
  }
  .loader .loader-inner .loader-line-wrap .loader-line {
    border: solid transparent;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  .loader .loader-inner .loader-line-wrap:nth-child(1) {
    -webkit-animation-delay: -100ms;
            animation-delay: -100ms;
  }
  .loader .loader-inner .loader-line-wrap:nth-child(1) .loader-line {
    border-color: #8453ff;
    height: 90px;
    width: 90px;
    top: 7px;
  }
  .loader .loader-inner .loader-line-wrap:nth-child(2) {
    -webkit-animation-delay: -200ms;
            animation-delay: -200ms;
  }
  .loader .loader-inner .loader-line-wrap:nth-child(2) .loader-line {
    border-color: #ECEEF2;
    height: 76px;
    width: 76px;
    top: 14px;
  }
  .loader .loader-inner .loader-line-wrap:nth-child(3) {
    -webkit-animation-delay: -300ms;
            animation-delay: -300ms;
  }
  .loader .loader-inner .loader-line-wrap:nth-child(3) .loader-line {
    border-color: #FCCA00;
    height: 62px;
    width: 62px;
    top: 21px;
  }
}

@media (prefers-color-scheme: light) {
  .loader {
    background-color: #8453ff;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    position: fixed;
    z-index: 99999;
    display: block;
  }
  .loader .logo-loader {
    position: absolute;
    margin-top: 10vh;
    width: 20vh;
  }
  .loader .loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  .loader .loader-inner .loader-line-wrap {
    -webkit-animation: "spin-loader" 0.8s ease infinite;
            animation: "spin-loader" 0.8s ease infinite;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    width: 100px;
  }
  .loader .loader-inner .loader-line-wrap .loader-line {
    border: solid transparent;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  .loader .loader-inner .loader-line-wrap:nth-child(1) {
    -webkit-animation-delay: -100ms;
            animation-delay: -100ms;
  }
  .loader .loader-inner .loader-line-wrap:nth-child(1) .loader-line {
    border-color: #161616;
    height: 90px;
    width: 90px;
    top: 7px;
  }
  .loader .loader-inner .loader-line-wrap:nth-child(2) {
    -webkit-animation-delay: -200ms;
            animation-delay: -200ms;
  }
  .loader .loader-inner .loader-line-wrap:nth-child(2) .loader-line {
    border-color: #ECEEF2;
    height: 76px;
    width: 76px;
    top: 14px;
  }
  .loader .loader-inner .loader-line-wrap:nth-child(3) {
    -webkit-animation-delay: -300ms;
            animation-delay: -300ms;
  }
  .loader .loader-inner .loader-line-wrap:nth-child(3) .loader-line {
    border-color: #FCCA00;
    height: 62px;
    width: 62px;
    top: 21px;
  }
}

footer {
  background-color: #8453ff;
  padding: 4rem 1rem 1rem 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media only screen and (max-width: 990px) {
  footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-bottom: calc(55px + 16px);
    font-size: 1.4rem;
  }
}

footer.dark-theme {
  background-color: #232323;
}

@media only screen and (max-width: 990px) {
  footer .footer-links {
    text-align: center;
  }
}

@media only screen and (max-width: 990px) {
  footer .footer__block {
    margin-top: 3rem;
  }
  footer .footer__block:first-child {
    margin: 0;
  }
  footer .footer__block:last-child {
    margin-bottom: 3rem;
  }
}

footer .email {
  color: #FCCA00;
}

footer .footer__text {
  color: #ECEEF2;
}

@media only screen and (max-width: 990px) {
  footer .footer__text {
    font-size: 1.4rem;
  }
  footer .footer__text:last-child {
    font-size: 1rem;
  }
}

footer .footer-link {
  color: #ECEEF2;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

footer .footer-link:hover {
  border-bottom: 2px solid #FCCA00;
}

footer .social-networks-footer {
  padding-top: 1rem;
}

@media only screen and (max-width: 990px) {
  footer .social-networks-footer {
    padding-top: 0;
  }
}

.brand-block {
  background-color: #8453ff;
  border-radius: 4px;
  padding: 5rem;
  margin: 5rem 0;
}

@media screen and (max-width: 990px) {
  .brand-block {
    padding: 1rem;
  }
}

.brand-block h1, .brand-block p {
  color: #ECEEF2;
}

.brand-block p {
  font-weight: 700;
}

.brand-block h1 {
  padding-bottom: 1rem;
  border-bottom: 2px solid #ECEEF2;
}

.brand-block h1.dark-theme {
  border-bottom: 2px solid #FCCA00;
}

@media screen and (max-width: 990px) {
  .brand-block .wrap-mob {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.brand-block img.logo-icon, .brand-block img.logo-full {
  max-width: 100%;
}

.brand-block img.logo-icon {
  -webkit-box-shadow: 0 0 4px #161616;
          box-shadow: 0 0 4px #161616;
  border-radius: 16px;
}

@media screen and (max-width: 990px) {
  .brand-block img.logo-icon {
    margin-top: 3rem;
  }
}

.brand-block.dark-theme {
  background-color: #232323;
}

.brand-block .brand-colors {
  margin: auto;
}

.brand-block .brand-colors .color-1, .brand-block .brand-colors .color-2, .brand-block .brand-colors .color-3, .brand-block .brand-colors .color-4, .brand-block .brand-colors .color-5, .brand-block .brand-colors .color-6 {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 4px #161616;
          box-shadow: 0 2px 4px #161616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 1rem 0;
}

.brand-block .brand-colors .color-1.dark-theme, .brand-block .brand-colors .color-2.dark-theme, .brand-block .brand-colors .color-3.dark-theme, .brand-block .brand-colors .color-4.dark-theme, .brand-block .brand-colors .color-5.dark-theme, .brand-block .brand-colors .color-6.dark-theme {
  -webkit-box-shadow: 0 0 4px #ECEEF2;
          box-shadow: 0 0 4px #ECEEF2;
}

.brand-block .brand-colors .color-1 {
  background-color: #ECEEF2;
}

.brand-block .brand-colors .color-2 {
  background-color: #8453ff;
}

.brand-block .brand-colors .color-3 {
  background-color: #FCCA00;
}

.brand-block .brand-colors .color-4 {
  background-color: #161616;
}

.brand-block .brand-colors .color-5 {
  background-color: #232323;
}

.brand-block .brand-colors .color-6 {
  background-color: #fff;
}

@-webkit-keyframes spin-loader {
  0%, 15% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-loader {
  0%, 15% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html, body {
  background-color: #ECEEF2;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  font-size: 16px !important;
}

@media screen and (prefers-reduced-motion: reduce) {
  html html, body html {
    scroll-behavior: auto;
  }
}

html.dark-theme, body.dark-theme {
  background-color: #161616;
}

html.dark-theme::-webkit-scrollbar, body.dark-theme::-webkit-scrollbar {
  width: 10px;
  background-color: #232323;
}

html.dark-theme::-webkit-scrollbar-thumb, body.dark-theme::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #FCCA00;
}

@media screen and (max-width: 990px) {
  html.dark-theme::-webkit-scrollbar, body.dark-theme::-webkit-scrollbar {
    width: 0;
  }
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 10px;
  background-color: #ECEEF2;
}

html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #8453ff;
}

@media screen and (max-width: 990px) {
  html::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 0;
  }
}

*::-moz-selection {
  background-color: #8453ff;
  color: #ECEEF2;
}

*::selection {
  background-color: #8453ff;
  color: #ECEEF2;
}

*::-moz-selection.dark-theme {
  background-color: #FCCA00;
}

*::selection.dark-theme {
  background-color: #FCCA00;
}

nav {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
}

nav.active:before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav.active.dark-theme:before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 4px rgba(22, 22, 22, 0.25);
          box-shadow: 0 0px 4px rgba(22, 22, 22, 0.25);
}

@media screen and (max-width: 990px) {
  nav:before {
    -webkit-box-shadow: 0 2px 4px #161616;
            box-shadow: 0 2px 4px #161616;
    background-color: #8453ff;
  }
}

nav.dark-theme:before {
  background-color: #232323;
}

@media screen and (max-width: 990px) {
  nav.dark-theme:before {
    -webkit-box-shadow: 0 2px 4px #161616;
            box-shadow: 0 2px 4px #161616;
  }
}

nav .nav__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav__body .nav__list {
  z-index: 5;
}

nav .nav__body .nav__list .nav__link {
  color: #161616;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-bottom: 2px solid transparent;
}

nav .nav__body .nav__list .nav__link:hover {
  border-bottom: 2px solid #8453ff;
}

nav .nav__body .nav__list .nav__link.dark-theme {
  color: #ECEEF2;
}

nav .nav__body .nav__list .nav__link.dark-theme:hover {
  border-bottom: 2px solid #FCCA00;
}

@media only screen and (max-width: 990px) {
  nav .nav__body .nav__list .nav__link {
    font-size: 1.4rem;
    width: 100%;
    border-radius: 4px;
    margin-top: 1rem;
    color: #ECEEF2;
    -webkit-box-shadow: 0 2px 4px #ECEEF2;
            box-shadow: 0 2px 4px #ECEEF2;
    font-family: 'Montserrat', sans-serif;
  }
  nav .nav__body .nav__list .nav__link:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 375px) {
  nav .nav__body .nav__list .nav__link {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 990px) {
  nav .nav__body .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav .nav__body .nav__list .search .search-input {
  border-radius: 4px 0 0 4px;
  padding: 4px 8px;
  font-family: 'Open Sans', sans-serif;
  color: #161616;
  border: 2px solid rgba(255, 255, 255, 0);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #ECEEF2;
  width: 150px;
}

nav .nav__body .nav__list .search .search-input.dark-theme {
  background-color: #161616;
  color: #ECEEF2;
}

nav .nav__body .nav__list .search .search-input:focus-visible {
  outline: none;
  background-color: #fff;
  border: 2px solid #8453ff;
}

nav .nav__body .nav__list .search .search-input:focus-visible.dark-theme {
  background-color: #161616;
  border: 2px solid #FCCA00;
}

@media only screen and (max-width: 990px) {
  nav .nav__body .nav__list .search .search-input {
    width: 100%;
    height: 49px;
  }
}

nav .nav__body .nav__list .search .search-btn, nav .nav__body .nav__list .search .search-microphone {
  border: none;
  background: #ECEEF2;
  text-align: center;
  color: #8453ff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

nav .nav__body .nav__list .search .search-btn.dark-theme, nav .nav__body .nav__list .search .search-microphone.dark-theme {
  color: #FCCA00;
  background-color: #161616;
}

nav .nav__body .nav__list .search .search-btn {
  padding: 0 .5rem;
}

nav .nav__body .nav__list .search .search-microphone {
  border-radius: 0;
  padding: 0 .5rem;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

nav .nav__body .nav__list .search .search-microphone.active {
  background-color: #fff;
}

nav .nav__body .nav__list .search .search-microphone.active.dark-theme {
  background-color: #232323;
}

@media only screen and (max-width: 990px) {
  nav .nav__body .nav__list .search {
    margin-top: 1rem;
    width: 100%;
  }
}

nav .nav__body .nav__logo {
  z-index: 3;
}

nav .nav__body .nav__logo img {
  width: 36px;
  border-radius: 0;
}

nav .nav__body .nav__logo img.dark-theme {
  opacity: 1;
}

@media only screen and (max-width: 990px) {
  nav .nav__body .nav__logo {
    display: none;
  }
}

nav .nav__body .nav__burger {
  display: none;
}

@media only screen and (max-width: 990px) {
  nav .nav__body .nav__burger {
    display: block;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  nav .nav__body .nav__burger:before, nav .nav__body .nav__burger:after {
    content: '';
    background-color: #ECEEF2;
    width: 100%;
    position: absolute;
    height: 2px;
    border-radius: 16px;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  nav .nav__body .nav__burger:before {
    top: 0;
  }
  nav .nav__body .nav__burger:after {
    bottom: 0;
  }
  nav .nav__body .nav__burger span {
    background-color: #ECEEF2;
    height: 2px;
    border-radius: 16px;
    width: 100%;
    top: 9px;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  nav .nav__body .nav__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  nav .nav__body .nav__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  nav .nav__body .nav__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media only screen and (max-width: 990px) {
  nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }
  nav .nav__menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 100%;
    width: 100%;
    height: calc(100% + 55px);
    background-color: #8453ff;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  nav .nav__menu.active {
    top: 0;
  }
  nav .nav__menu.dark-theme {
    background-color: #232323;
  }
}

.image__menu {
  display: none;
}

@media only screen and (max-width: 990px) {
  .image__menu {
    display: block;
    top: 20%;
    position: absolute;
    text-align: center;
    top: 10vh;
  }
  .image__menu img {
    width: 200px;
    top: 0;
    border-radius: 0;
  }
}

.filter__block {
  margin: 2rem;
}

@media only screen and (max-width: 990px) {
  .filter__block {
    margin: 1rem;
  }
}

.filter__block .filter__menu .filter__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__block .filter__menu .filter__wrap .filter__item {
  background-color: #ECEEF2;
  -webkit-box-shadow: 0px 4px 8px rgba(22, 22, 22, 0.25);
          box-shadow: 0px 4px 8px rgba(22, 22, 22, 0.25);
  padding: 8px 16px;
  margin: 8px;
  border-radius: 16px;
  color: #161616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border: 1px solid rgba(0, 0, 0, 0);
}

.filter__block .filter__menu .filter__wrap .filter__item:hover {
  border: 1px solid #8453ff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filter__block .filter__menu .filter__wrap .filter__item:hover.dark-theme {
  border: 1px solid #FCCA00;
}

.filter__block .filter__menu .filter__wrap .filter__item.active {
  border: 1px solid #8453ff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filter__block .filter__menu .filter__wrap .filter__item.active.dark-theme {
  background-color: #FCCA00;
  color: #161616;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #FCCA00;
}

.filter__block .filter__menu .filter__wrap .filter__item.dark-theme {
  background-color: #161616;
  color: #ECEEF2;
  -webkit-box-shadow: 0 2px 4px #FCCA00;
          box-shadow: 0 2px 4px #FCCA00;
}

@media only screen and (max-width: 990px) {
  .filter__block .filter__menu .filter__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 200px;
    overflow-y: scroll;
  }
}

.filter__block .filter__menu .filter__btn-in-menu {
  display: none;
}

@media only screen and (max-width: 990px) {
  .filter__block .filter__menu .filter__btn-in-menu {
    display: block;
    color: #8453ff;
    font-size: 2rem;
  }
  .filter__block .filter__menu .filter__btn-in-menu.dark-theme {
    color: #FCCA00;
  }
}

@media only screen and (max-width: 990px) {
  .filter__block .filter__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
    bottom: calc(55px + 16px);
    z-index: 4;
    background-color: #ECEEF2;
    border-radius: 4px;
    width: 90%;
    padding: 1rem .5rem;
    border: 2px solid #8453ff;
  }
  .filter__block .filter__menu.active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (max-width: 990px) {
  .filter__block .filter__menu.dark-theme {
    background-color: #161616;
    -webkit-box-shadow: 0 2px 4px #FCCA00;
            box-shadow: 0 2px 4px #FCCA00;
  }
}

.filter__block .filter__btn {
  display: none;
}

@media only screen and (max-width: 990px) {
  .filter__block .filter__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ECEEF2;
    z-index: 9;
    bottom: 55px;
    right: 0;
    color: #161616;
    width: 64px;
    height: 64px;
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 16px;
    margin: 16px;
    font-size: 2rem;
    -webkit-box-shadow: 0px 4px 8px rgba(22, 22, 22, 0.25);
            box-shadow: 0px 4px 8px rgba(22, 22, 22, 0.25);
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  }
  .filter__block .filter__btn.active {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .filter__block .filter__btn.dark-theme {
    background-color: #FCCA00;
    color: #161616;
  }
}

.chosen_category {
  display: none;
}

@media only screen and (max-width: 990px) {
  .chosen_category {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 54px;
    left: 0;
    right: 0;
    z-index: 5;
    padding: .5rem;
    border-radius: 4px;
    margin: 1rem;
    background-color: #ECEEF2;
    color: #161616;
    -webkit-box-shadow: 0px 4px 8px rgba(22, 22, 22, 0.25);
            box-shadow: 0px 4px 8px rgba(22, 22, 22, 0.25);
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
  }
  .chosen_category.dark-theme {
    background-color: #FCCA00;
    color: #161616;
  }
}

.chosen_category .btn__close-category {
  color: #161616;
  padding-left: 8px;
}

.chosen_category .btn__close-category.dark-theme {
  color: #161616;
}

.spoiler-wrap {
  border-radius: 16px;
  margin: 1.5rem .5rem;
  background: #ECEEF2;
  -webkit-box-shadow: 0px 4px 8px rgba(22, 22, 22, 0.25);
          box-shadow: 0px 4px 8px rgba(22, 22, 22, 0.25);
}

.spoiler-wrap.dark-theme {
  -webkit-box-shadow: 0 2px 4px #FCCA00;
          box-shadow: 0 2px 4px #FCCA00;
  background-color: #232323;
}

.spoiler-wrap .spoiler-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 58px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spoiler-wrap .spoiler-head h6 {
  color: #161616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.spoiler-wrap .spoiler-head:hover {
  cursor: pointer;
}

.spoiler-wrap .spoiler-body {
  display: none;
}

.spoiler-wrap .spoiler-body span {
  color: #161616;
}

.spoiler-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 990px) {
  .spoiler-pc {
    display: none;
  }
}

.spoiler-mob {
  display: none;
}

@media only screen and (max-width: 990px) {
  .spoiler-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .spoiler-mob .popular-people-card-block, .spoiler-mob .facts-card-block {
    background: transparent;
  }
  .spoiler-mob .popular-people-card-block.dark-theme, .spoiler-mob .facts-card-block.dark-theme {
    border-bottom: 1px solid #FCCA00;
    border: none;
    background: transparent;
  }
}

.btn-cus-1 {
  background-color: #ECEEF2;
  -webkit-box-shadow: 0px 4px 8px rgba(22, 22, 22, 0.25);
          box-shadow: 0px 4px 8px rgba(22, 22, 22, 0.25);
  padding: 1rem;
  margin: 8px;
  border-radius: 16px;
  color: #161616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: center;
}

.btn-cus-1 a {
  color: #161616;
}

.btn-cus-1:hover {
  cursor: pointer;
  border: 1px solid #8453ff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #161616;
}

.btn-cus-1:hover.dark-theme {
  border: 1px solid #FCCA00;
}

.btn-cus-1.dark-theme {
  background-color: #161616;
  color: #ECEEF2;
  -webkit-box-shadow: 0 2px 4px #FCCA00;
          box-shadow: 0 2px 4px #FCCA00;
}

.btn-cus-1.btn-close-modal {
  padding: 8px 12px;
}

@media only screen and (max-width: 990px) {
  .btn-cus-1.btn-close-modal {
    width: 100%;
  }
}

.btn-cus-1.btn-close-modal:hover {
  cursor: pointer;
}

.btn__in-sights-wrap {
  margin: 1rem 0;
}

@media only screen and (max-width: 990px) {
  .btn__in-sights-wrap {
    width: 100% !important;
  }
}

.btn__in-sights {
  background-color: #ECEEF2;
  -webkit-box-shadow: 0px 4px 8px rgba(22, 22, 22, 0.25);
          box-shadow: 0px 4px 8px rgba(22, 22, 22, 0.25);
  padding: 8px 16px;
  margin: 8px;
  border-radius: 16px;
  color: #161616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border: 1px solid rgba(0, 0, 0, 0);
}

.btn__in-sights:hover {
  cursor: pointer;
  border: 1px solid #8453ff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #161616;
}

.btn__in-sights:hover.dark-theme {
  border: 1px solid #FCCA00;
}

.btn__in-sights.dark-theme {
  background-color: #161616;
  color: #ECEEF2;
  -webkit-box-shadow: 0 2px 4px #FCCA00;
          box-shadow: 0 2px 4px #FCCA00;
}

.btn__in-sights a {
  color: #161616;
}

.btn__in-sights a.dark-theme {
  color: #ECEEF2;
}

.home-page-screen {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  min-width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-page-screen-2 {
  background-color: #ECEEF2;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page-screen-2.dark-theme {
  background-color: #161616;
}

@media only screen and (max-width: 990px) {
  .home-page-screen-2 {
    height: auto;
  }
}

.home-page-title {
  font-size: 3rem;
  font-weight: 700;
  color: #161616;
  padding: 0 2rem;
}

.home-page-title.first-title {
  color: #ECEEF2;
}

@media only screen and (max-width: 990px) {
  .home-page-title {
    font-size: 2rem;
  }
}

.main-home-page-screen {
  background-image: url("../img/home-page3.png");
  background-position: center;
}

.home-page-title-screen-city-history {
  color: #161616;
}

.home-page-title-screen-city-history.dark-theme {
  color: #ECEEF2;
}

.list-home-page {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

@media only screen and (max-width: 990px) {
  .list-home-page {
    font-size: 1rem;
  }
}

.list-home-page .list-item-home-page {
  color: #161616;
  margin-bottom: 1rem;
}

.list-home-page .list-item-home-page.dark-theme {
  color: #ECEEF2;
}

.list-home-page .list-item-home-page span {
  color: #161616;
}

.list-home-page .list-item-home-page span.dark-theme {
  color: #ECEEF2;
}

.popular-people-card-block, .facts-card-block {
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
}

.popular-people-card-block img, .facts-card-block img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 990px) {
  .popular-people-card-block img, .facts-card-block img {
    height: 450px;
  }
}

@media screen and (max-width: 990px) {
  .popular-people-card-block, .facts-card-block {
    margin-top: 3rem;
  }
  .popular-people-card-block p, .facts-card-block p {
    font-size: 1.2rem;
  }
}

.popular-people-card-block.dark-theme, .facts-card-block.dark-theme {
  background-color: #232323;
}

.hist-wrap .hist-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hist-wrap .hist-img-wrap .hist-img {
  width: 100%;
}

@media only screen and (max-width: 990px) {
  .hist-wrap {
    width: 100%;
  }
}

img {
  border-radius: 4px;
}

img.logo-loader, img.logo-full {
  border-radius: 0;
}

content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

content .content {
  position: relative;
  padding-top: 3rem;
}

@media only screen and (max-width: 990px) {
  content .content {
    padding-top: 1rem;
  }
  content .content.active {
    padding-top: 3rem;
  }
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  color: #161616;
  margin: 0;
}

p.text.dark-theme {
  color: #ECEEF2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #161616;
  font-weight: 500;
  position: relative;
  margin: 0;
}

h1.dark-theme, h2.dark-theme, h3.dark-theme, h4.dark-theme, h5.dark-theme, h6.dark-theme {
  color: #ECEEF2;
}

h1.page-title {
  margin: 3rem 0;
}

h1.sights__title {
  position: fixed;
  padding: 1rem;
  width: 100%;
  background-color: #fff;
  top: 55px;
  left: 0;
  z-index: 666;
  -webkit-box-shadow: 0 -2px 4px #161616;
          box-shadow: 0 -2px 4px #161616;
  font-size: 1rem;
}

h1.sights__title.dark-theme {
  background-color: #232323;
}

@media only screen and (max-width: 990px) {
  h1.sights__title {
    top: 0;
  }
}

@media only screen and (max-width: 990px) {
  h1 {
    font-size: 1.4rem;
  }
  h1.page-title {
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    padding: 1rem 0;
    -webkit-box-shadow: 0 -2px 4px #161616;
            box-shadow: 0 -2px 4px #161616;
    background-color: #ECEEF2;
  }
  h1.page-title.dark-theme {
    color: #ECEEF2;
    background-color: #232323;
  }
}

h3.h-bold {
  font-weight: 700;
}

.cur-pointer:hover {
  cursor: pointer;
}

.card {
  display: block;
  border-radius: 4px;
  border: none;
  height: 400px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@media only screen and (max-width: 990px) {
  .card {
    height: 320px;
  }
}

.card .card-title {
  color: #161616;
  bottom: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  z-index: 1;
  padding: .5rem 1rem;
  font-size: .8rem;
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 4px 4px;
}

.card .card-title.dark-theme {
  background-color: #232323;
  color: #ECEEF2;
}

.card .card-title .rec-card {
  background-color: #8453ff;
  color: #ECEEF2;
  padding: 4px 8px;
  border-radius: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.card .card-title .rec-card.dark-theme {
  background-color: #FCCA00;
  color: #161616;
}

@media screen and (max-width: 1199px) {
  .card .card-title .rec-card {
    margin-top: .5rem;
  }
}

.card .card-title .card-category {
  background-color: #ECEEF2;
  color: #161616;
  padding: 4px 8px;
  border-radius: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-align: center;
}

.card .card-title .card-category.dark-theme {
  background-color: #161616;
  color: #ECEEF2;
}

.card .card-title .card-category.card-category-rec {
  margin-top: .5rem;
}

@media screen and (max-width: 1199px) {
  .card .card-title .card-category {
    margin-top: .5rem;
  }
}

.card img.card-img-top {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card img.round {
  border-radius: 4px;
}

.card.dark-theme {
  background-color: #161616;
}

.card:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 0px 4px 8px rgba(22, 22, 22, 0.25);
          box-shadow: 0px 4px 8px rgba(22, 22, 22, 0.25);
}

.card .sights__gps-mark {
  z-index: 2;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background-color: #fff;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
}

.card .sights__gps-mark i {
  color: #232323;
}

.card .sights__gps-mark i.dark-theme {
  color: #ECEEF2;
}

.card .sights__gps-mark.dark-theme {
  background-color: #232323;
}

.card .sights__gps-mark:hover i {
  color: #8453ff;
}

.card .sights__gps-mark:hover i.dark-theme {
  color: #FCCA00;
}

.slider__show-sight {
  margin-top: 55px;
}

@media only screen and (max-width: 990px) {
  .slider__show-sight {
    margin-top: 0;
  }
}

.carousel .carousel-item img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 990px) {
  .carousel .carousel-item img {
    height: 200px;
  }
}

.sights__fast-info {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 1rem;
  border-bottom: #8453ff solid 12px;
  margin-bottom: 1rem;
}

.sights__fast-info.dark-theme {
  border-bottom: #FCCA00 solid 2px;
}

.sights__fast-info .title {
  text-transform: uppercase;
  font-weight: 700;
}

.no-more {
  font-size: 1.8rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  color: #8453ff;
}

.no-more.dark-theme {
  color: #FCCA00;
}

.carousel img {
  border-radius: 4px;
}

.modal.fade {
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.modal .modal-dialog .modal-content {
  background-color: #ECEEF2;
}

.modal .modal-dialog .modal-content.dark-theme {
  background-color: #161616;
}

.modal .modal-dialog .modal-content .modal-header {
  border: 0;
}

.modal .modal-dialog .modal-content .modal-footer {
  border: 0;
}

.modal .modal-dialog .modal-content .modal-body {
  display: block;
  margin: auto;
}

.modal .modal-dialog .modal-content .modal-body img {
  height: 100%;
  width: 100%;
  border-radius: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 990px) {
  .modal .modal-dialog .modal-content .modal-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.modal.modal-msg .modal-dialog .modal-body {
  margin: 0;
}

.modal.modal-msg .modal-dialog .modal-body .form-control {
  height: 50vh;
}

@media only screen and (max-width: 990px) {
  .modal.modal-msg .modal-dialog .modal-body .form-control {
    height: 30vh;
  }
}

.modal.modal-msg .modal-dialog .modal-body .form-control:focus {
  color: #161616;
  border-color: #8453ff;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 990px) {
  .where-to-go__card {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 990px) {
  .mt-6 {
    margin-top: 6rem;
  }
}

.ya-share2__item {
  margin-left: 8px !important;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.ya-share2__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 990px) {
  .ya-share2__item {
    margin-right: 8px !important;
    margin-top: 16px !important;
  }
}

.about-text-block {
  border-radius: 4px;
  background-color: #fff;
  padding: 2.2rem;
  min-height: 300px;
}

.about-text-block p {
  font-size: 1.4rem;
}

.about-text-block.dark-theme {
  background-color: #232323;
}

@media only screen and (max-width: 990px) {
  .about-text-block {
    padding: 1rem;
  }
}

.about-text-block .about-img {
  max-width: 100%;
  border-radius: 4px;
}

@media only screen and (max-width: 767px) {
  .about-text-block .about-img {
    margin-top: 3rem;
  }
  .about-text-block .about-img.about-img-no-margin-top {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}

.read-history-block {
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem;
  margin: 0 2px;
}

@media only screen and (max-width: 990px) {
  .text-in-card {
    width: 100% !important;
  }
}

.rec-posts {
  border-top: 2px solid #8453ff;
  padding: 1rem;
}

.rec-posts.dark-theme {
  border-top: 2px solid #FCCA00;
}

.wrap-search {
  border-bottom: 2px solid #8453ff;
}

.wrap-search.dark-theme {
  border-bottom: 2px solid #FCCA00;
}
/*# sourceMappingURL=style.css.map */