@import "loader";
@import "footer";
@import "brand";
@import "animations";
@import "htmlbody";
@import "navbar";
@import "filter";
@import "category";
@import "spoiler";
@import "buttons";
@import "homepage";

$milk-white: #ECEEF2;
$primory-purple: #8453ff;
$primory-orange: #FCCA00;
$primory-dark-theme-color: #161616;
$secondary-dark-theme-color: #232323;
$box-shadow-color: #161616;
$box-shadow: 4px;
$nav-height: 55px;
$anim-delay-slow: .8s;
$anim-delay-fast: .25s;
$border-radius: 16px;
$border-radius-card: 4px;

*::selection {
    background-color: $primory-purple;
}

img {
    border-radius: $border-radius-card;
    &.logo-loader, &.logo-full {
        border-radius: 0;
    }
}


content {
    flex: 1 0 auto;
    .content {
        position: relative;
        padding-top: 3rem;
        @media only screen and (max-width: 990px) {
            padding-top: 1rem;
            &.active {
                padding-top: 3rem;
            }
        }
    }
}

a {
    text-decoration: none;
    &.url__sights {
        color: $primory-purple;
        &.dark-theme {
            color: $primory-orange;
        }
    }
}

p {
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    color: $primory-dark-theme-color;
    margin: 0;
    &.text {
        &.dark-theme {
            color: $milk-white;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: $primory-dark-theme-color;
    font-weight: 500;
    position: relative;
    margin: 0;
    &.dark-theme {
        color: $milk-white;
    }
}

h1 {
    &.page-title {
        margin: 3rem 0;
    }
    &.sights__title {
        position: fixed;
        padding: 1rem;
        width: 100%;
        background-color: $milk-white;
        top: $nav-height;
        left: 0;
        z-index: 2;
        box-shadow: 0 -2px $box-shadow $box-shadow-color;
        font-size: 1rem;
        &.dark-theme {
            background-color: $secondary-dark-theme-color;
        }
        @media screen and (max-width: 990px) {
            top: 0;
        }
    }
    @media only screen and (max-width: 990px) {
        font-size: 1.4rem;
        &.page-title {
            margin: 0;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 6;
            padding: 1rem 0;
            box-shadow: 0 -2px $box-shadow $box-shadow-color;
            background-color: $milk-white;
            &.dark-theme {
                color: $milk-white;
                background-color: $secondary-dark-theme-color;
            }
        }
    }
}

h3 {
    &.h-bold {
        font-weight: 700;
    }
}

.cur-pointer {
    &:hover {
        cursor: pointer;
    }
}

.card {
    display: block;
    border-radius: $border-radius-card;
    border: none;
    height: 400px;
    transition: all $anim-delay-fast ease;
    @media only screen and (max-width: 990px) {
        height: 320px;
    }
    .card-title {
        color: $primory-dark-theme-color;
        bottom: 0;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        z-index: 1;
        padding: 1rem;
        font-size: 1.2rem;
        background-color: #fff;
        width: 100%;
        border-radius: 0 0 $border-radius-card $border-radius-card;
        @media only screen and (max-width: 990px) {
            font-size: 1rem;
        }
        &.dark-theme {
            background-color: $secondary-dark-theme-color;
            color: $milk-white;
        }
    }
    img {
        &.card-img-top {
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        &.round {
            border-radius: $border-radius-card;
        }
    }
    &.dark-theme {
        background-color: #343434;
    }
    &:hover {
        margin: 0 -.5rem;
    }
    .sights__gps-mark {
        z-index: 2;
        color: $primory-purple;
        top: 1rem;
        right: 1rem;
        font-size: 2.5rem;
        background-color: $milk-white;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: $border-radius;
        i {
            color: $primory-purple;
            &.dark-theme {
                color: $primory-orange;
            }
        }
        &.dark-theme {
            background-color: $secondary-dark-theme-color;
        }
        &:hover {
            i {
                color: $primory-orange;
                &.dark-theme {
                    color: $primory-purple;
                }
            }
        }
    }
}

.rec-card {
    position: absolute;
    background-color: $primory-purple;
    color: $milk-white;
    margin: 1rem;
    padding: 1rem;
    top: 0;
    left: 0;
    border-radius: $border-radius;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    &.dark-theme {
        background-color: $primory-orange;
        color: $primory-dark-theme-color;
    }
}

.slider__show-sight {
    margin-top: $nav-height;
    @media only screen and (max-width: 990px) {
        margin-top: 0;
    }
}

.carousel {
    .carousel-item {
        img {
            height: 500px;
            object-fit: cover;
            @media only screen and (max-width: 990px) {
                height: 200px;
            }
        }
    }
}

.sights__fast-info {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 1rem;
    border-bottom: $primory-purple solid 1px;
    margin-bottom: 1rem;
    &.dark-theme {
        border-bottom: $primory-orange solid 1px;
    }
    .title {
        text-transform: uppercase;
        font-weight: 700;
    }
}

.no-more {
    font-size: 1.8rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: $primory-purple;
    &.dark-theme {
        color: $primory-orange;
    }
}

.carousel {
    img {
        border-radius: $border-radius-card;
    }
}

.modal {
    &.fade {
        transition: opacity $anim-delay-fast ease;
    }
    .modal-dialog {
        .modal-content {
            background-color: $milk-white;
            &.dark-theme {
                background-color: $primory-dark-theme-color;
            }
            .modal-header {
                border: 0;
            }
            .modal-footer {
                border: 0;
            }
            .modal-body {
                display: block;
                margin: auto;
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 0;
                    object-fit: contain;
                }
                @media only screen and (max-width: 990px) {
                    flex-direction: column;
                }
            }
        }
    }
}

.where-to-go__card {
    @media only screen and (max-width: 990px) {
        margin-top: 3rem;
    }
}

.mt-6 {
    @media only screen and (max-width: 990px) {
        margin-top: 6rem;
    }
}

.ya-share2__item {
    margin-left: 8px!important;
    transition: transform $anim-delay-fast ease;
    &:hover {
        transform: scale(1.2);
    }
    @media only screen and (max-width: 990px) {
        margin-right: 8px!important;
        margin-top: 16px!important;
    }
}

.about-text-block {
    border-radius: $border-radius-card;
    background-color: #fff;
    padding: 2.2rem;
    min-height: 300px;
    p {
        font-size: 1.4rem;
    }
    &.dark-theme {
        background-color: $secondary-dark-theme-color;
    }
    @media only screen and (max-width: 990px) {
        padding: 1rem;
    }
    .about-img {
        max-width: 100%;
        border-radius: $border-radius-card;
        @media only screen and (max-width: 767px) {
            margin-top: 3rem;
            &.about-img-no-margin-top {
                margin-top: 0;
                margin-bottom: 3rem;
            }
        }
    }
}
